[2018-01-31 09:50] nileshgulia1 opened #2 "Configure Testing suite"
It will be good to configure unit and integration tests.
I would like to work on it.Needs babel configuration also

[2018-01-31 14:47] nileshgulia1 opened #3 "error in webpack configuration"
It throws this error after running `npm run build`
[code]

[2018-02-02 17:54] mbebenita commented on #2
This would be a great idea. I think to start, getting [Travis-ci](https://travis-ci.org/) working would be a great first step.

[2018-02-02 17:57] mbebenita commented on #3
We haven't been super careful with the errors thus far, but we should definitely fix them. @yurydelendik can you address the WasmParser error? There's a PR in flight (#5) to fix the last error.

[2018-02-02 18:29] nileshgulia1 commented on #2
That right, on my way...

[2018-02-02 21:03] nileshgulia1 commented on #3
I'm also trying fixing that error in ```test.tsx``` file, playing with  this [issue](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/18279).

[2018-02-03 01:02] mbebenita opened #7 "Create Monaco language definition for .wast files."
The [current language support](https://github.com/mbebenita/WebAssemblyStudio/blob/master/src/languages/wast.ts) for `.wast` files in Monaco is in very early stages. Getting better support for `.wast` files would not only help this project, but it would also benefit VSCode since the code could be upstreamed.

The monarch [docs](https://microsoft.github.io/monaco-editor/monarch.html) and the Monaco

[2018-02-03 01:10] mbebenita commented on #2
I enabled builds on the [Travis-ci side](https://travis-ci.org/mbebenita/WebAssemblyStudio) but it looks like the Travis config is causing the build to fail because the `clean` and `test` npm scripts are missing.

[2018-02-04 02:55] mbebenita opened #13 "Add support for Rust compilation."

[2018-02-04 09:00] haxxorsid commented on #13
I was looking forward to this, since many days. I am lacking time.

[2018-02-04 09:01] haxxorsid commented on #13
Good. I was looking forward to this, since many days. But I was lacking time.

[2018-02-04 09:23] mbebenita commented on #3
I believe this is now fixed, closing.

[2018-02-04 09:23] #3 closed

[2018-02-04 23:34] mbebenita opened #15 "Context menu immediately disappears in Firefox."

[2018-02-04 23:35] mbebenita opened #16 "Favicon is low-res."

[2018-02-04 23:38] mbebenita opened #17 "Markdown Edit/Preview Mode"
Currently only preview mode is supported. We need to work out a way to switch between preview/edit modes, and preferably make it possible to open edit / preview files in different tabs.

[2018-02-05 00:11] mbebenita opened #18 "Better Toast Placement"
The current Toast placement is hard to see:

![image](https://user-images.githubusercontent.com/311082/35783928-4fa8ecf8-09c5-11e8-9136-874858a10153.png)

Could we put this at the bottom? Somewhere more obvious?

[2018-02-05 00:13] mbebenita opened #19 "Stacked Toasts"
We should work out a scheme where more toasts can be fired off and stacked up on top of each other.

[2018-02-05 01:13] mbebenita commented on #2
Looks like this is all fixed now.

[2018-02-05 01:13] #2 closed

[2018-02-05 01:56] mbebenita commented on #13
Primitive support landed in https://github.com/mbebenita/WebAssemblyStudio/commit/53f65ed4ea8116d5863a3651532dde6af6ebd11a

[2018-02-05 02:00] AnshulMalik commented on #15
Little more info would help here since it's not clear what context menu, and what should be the expected behavior.

[2018-02-05 02:19] AnshulMalik commented on #19
Should we use a package for this or build our own?

[2018-02-05 02:23] AnshulMalik commented on #19
If we are to use external package, https://github.com/fkhadra/react-toastify is a good candidate

[2018-02-05 02:25] AnshulMalik commented on #17
We can add a footer bar to the editor, where we can place small buttons, which can be used to take certain actions like toggle preview

[2018-02-05 06:50] mbebenita commented on #15
If you go to https://webassembly.studio/?f=tqfv5 using Firefox, and right click on a file in the workspace on the left, you'll notice that the menu immediately disappears as soon as you release the right mouse button. If you hover the cursor over the menu a and release the mouse button there, then it works as expected, but the general case is busted. In Chrome it works as expected.

[2018-02-05 06:58] haxxorsid commented on #17
I'm working on this since yesterday. I might be able to figure out properly and put a PR. If not, I will give update here.

[2018-02-05 07:02] haxxorsid commented on #19
People can refer to this: [wasdk/WasmFiddle#11](https://github.com/wasdk/WasmFiddle/pull/11)

[2018-02-05 07:05] haxxorsid commented on #7
Require same for JavaScript.

[2018-02-05 07:14] AnshulMalik commented on #17
Looks awesome @haxxorsid, waiting to see the PR here.

[2018-02-05 07:14] AnshulMalik commented on #19
Looks awesome @haxxorsid, waiting to see the PR here.

[2018-02-05 07:27] mbebenita commented on #19
I've tried this component before, and found it difficult to style. In my experience, rolling our own components that do exactly what we want them to do is easier than depending on another codebase that does almost what we want, and a lot of things we don't.

[2018-02-05 10:07] haxxorsid commented on #15
![Blank](https://image.prntscr.com/image/Q3kqTO_9TB6Qt7SZtiwuNQ.png)

Firefox 47

[2018-02-05 11:18] AnshulMalik opened #22 "Can't close program output"
Currently, when we run the project, the output in right bottom seems to stick there forever.
https://webassembly.studio/?f=tqfv5
It'd be better if it can be closed or hidden.

<img width="551" alt="screen shot 2018-02-05 at 4 47 45 pm" src="https://user-images.githubusercontent.com/7821757/35801985-589ff764-0a94-11e8-9e93-9c04d4427971.png">

[2018-02-05 17:09] mbebenita commented on #7
JavaScript language support should be already handled by VS Code.

[2018-02-05 17:13] mbebenita commented on #22
I think we either want three states:

1. Docked, bottom right.
2. Floating as a separate window.
3. Hidden.

[2018-02-05 17:15] mbebenita commented on #15
Is this the latest version of Firefox?

[2018-02-05 17:16] haxxorsid commented on #15
Naah Firefox 47.

[2018-02-05 17:26] mbebenita commented on #15
Web assembly only works in the latest versions of Firefox, so we don't plan on supporting older versions. That said, we should probably put up a popup saying that the browser version is not supported.

[2018-02-05 19:05] haxxorsid commented on #19
Toasts are using React-Modal. React-modal doesn't allow a single wrapper wrapping multiple modals. And we need a wrapper around all modals to make them stackable. So we will have to remove react-modal and make a pure toast just like [wasdk/WasmFiddle#11](https://github.com/wasdk/WasmFiddle/pull/11)

[2018-02-05 19:20] mbebenita commented on #19
I'm open to using a more advanced Toast implementation.

[2018-02-05 20:09] yurydelendik opened #23 "Move service endpoint into external configuration file"
We use couple of external services. It's recommended to move the endpoints addressed (e.g. `//wasmexplorer-service.herokuapp.com/service.php`) into some configuration file and don't include it into the bundle.

[2018-02-05 22:37] yurydelendik opened #27 "Add a project license"
Currently we a choosing to set the project license to generic MIT open source license. See #25

@mbebenita is asking if "everyone that’s contributed ... to reply with `I Agree` to the license change?"

/cc @haxxorsid @nileshgulia1 @AnshulMalik @tschneidereit

Thank you.

[2018-02-05 22:38] yurydelendik commented on #27
I Agree

[2018-02-05 22:39] mbebenita commented on #27
I Agree

[2018-02-05 22:40] tschneidereit commented on #27
I Agree

[2018-02-06 03:06] AnshulMalik commented on #27
I Agree

[2018-02-06 04:21] nileshgulia1 commented on #27
I agree

[2018-02-06 05:09] haxxorsid commented on #27
I agree

[2018-02-06 07:25] AnshulMalik commented on #27
Won't a license file in root directory do the work? We are adding the license text to every file

[2018-02-06 08:49] nileshgulia1 commented on #27
Yes, we can add license in the root,why we are adding in every file? @yurydelendik  @mbebenita

[2018-02-06 14:09] yurydelendik commented on #27
There are many file from different projects and every project has different license. We need to be specific about files we are creating.

[2018-02-06 14:10] yurydelendik commented on #27
Closing the issue as resolved

[2018-02-06 14:10] #27 closed

[2018-02-06 14:14] yurydelendik commented on #23
Affected places:
- rustc https://github.com/wasdk/WebAssemblyStudio/blob/master/src/service.ts#L198
- other https://github.com/wasdk/WebAssemblyStudio/blob/master/src/service.ts#L98

[2018-02-06 14:42] AnshulMalik opened #30 "Show some spinner when project is being built or run"
Currently, user don't get any feedback on clicking the build or run button, while we are making a request to the service in the background, the user has no way of telling if something actually happened until we get the response.

- We should add a spinner to communicate that the request is processing

[2018-02-06 16:49] AnshulMalik commented on #7
Syntax highlighting for wasm seems to be working fine, what are we trying to improve?

[2018-02-06 18:39] mbebenita commented on #7
This is not just highlighting. This could include:

- [] Full syntax completion and suggestions.
- [] If you move your mouse over some text, we can present some documents.
- [] Integration into wasm parsers to check if it parses correctly and show where the errors are.
- [] And more.

[2018-02-06 21:39] yurydelendik commented on #23
Closed via #29

[2018-02-06 21:39] #23 closed

[2018-02-06 23:01] mbebenita commented on #13
Just to keep track of things, we should also add rustfmt support - https://github.com/wasdk/WebAssemblyStudio/wiki

[2018-02-07 00:16] yurydelendik opened #32 "[User Story] User trying WebAssembly "Hello, world" example"
As a person who does not know WebAssembly,
I want the ability to quickly see a simple application,
So that I may run it and also make a simple modification to experiment with the example.

[2018-02-07 00:28] yurydelendik commented on #7
See also #32

[2018-02-07 00:40] yurydelendik opened #33 "Remove "Update""
The "Update" functionality does not fit into the "teach" requirement. The created and shared to the public code must be immutable. Do we want to remove "Update" and rely only on "Fork" functionality?

[2018-02-07 01:42] AnshulMalik commented on #33
👍  I agree

[2018-02-07 03:30] mbebenita commented on #33
The problem I've had with fork only is that I can't bookmark my own fiddles and continue working on them over a period of time, because the url keeps changing. If we come up with versioning within a particular fiddle /1 /2 /3 .. , and the ability to go to the latest fiddle then yes, let's drop Update.

[2018-02-07 03:37] mbebenita commented on #30
One easy place to add it, is in the status bar at the bottom.

[2018-02-07 04:34] mbebenita opened #34 "Integrate functionality from WasmCodeExplorer"
Currently, the only way to inspect a wasm file is to see its disassembled output. It would be great if we could also let users look at the binary file directly: https://wasdk.github.io/wasmcodeexplorer/

[2018-02-07 09:22] mbebenita opened #35 "Add Beta Badge"
The project website has been shared more broadly and users may be disappointed wen they encounter bugs, we should make the site as beta and also put a link to this repo so issues can be filed.

[2018-02-07 11:42] nileshgulia1 commented on #35
That's a great idea :) How about a `BETA` ribbon like on top-right.

[2018-02-07 12:45] haxxorsid commented on #35
Beta badge(Source: codepen):
[Badge][https://image.prntscr.com/image/7XTY34OjSiKXx3WN1k1VAA.jpg]
Issues button can be added to the foot/topbar in a attractive/noticeable decent way:
[Issues][https://image.prntscr.com/image/HmcqsPXqT1yYH86o9DnidA.jpg]

[2018-02-07 12:45] haxxorsid commented on #35
Beta badge(Source: codepen):
![Badge](https://image.prntscr.com/image/7XTY34OjSiKXx3WN1k1VAA.jpg)

Issues button can be added to the foot/topbar in a attractive/noticeable decent way:
![Issues](https://image.prntscr.com/image/HmcqsPXqT1yYH86o9DnidA.jpg)

[2018-02-07 14:30] haxxorsid commented on #33
We can replace MyJson with something like IPFS/BigChainDB or Graphcool(only for GraphQL) to come up with a new solution(/1 /2 /3 updates). This won't take up any cost and data will be saved on someone else's network.

[2018-02-07 15:57] haxxorsid commented on #19
This issue can be closed.

[2018-02-07 15:57] haxxorsid commented on #19
This issue can be closed.

[2018-02-07 15:58] haxxorsid commented on #18
Toasts have been position in the bottom. This issue can be closed.

[2018-02-07 16:29] yurydelendik commented on #33
Still the problem stays, people that "learning" might start iterating on the same fiddle thus increase its version.

IPFS may work, we just need to see how much server part we need to provide, and how to store keys on the client side.

[2018-02-07 16:30] #18 closed

[2018-02-07 17:00] #19 closed

[2018-02-07 17:19] mbebenita commented on #35
I like it. I prefer the Issues at the top, and maybe we can call this "GitHub Issues" so users know the will be going to GitHub.

[2018-02-07 20:08] haxxorsid commented on #34
I think normally this will slow down the client's browser, maybe crash or lag if he tries to inspect. Later, we will have to make sure all the data gets cleaned up when the client exits the option.

[2018-02-07 20:35] mbebenita commented on #35
Fixed by #37

[2018-02-07 20:35] #35 closed

[2018-02-07 20:37] mbebenita commented on #34
One temporary fix would be to open WasmCodeExplorer in an pop window and pass the `.wasm` file to it.

[2018-02-07 20:38] yurydelendik commented on #34
See also #32

[2018-02-07 20:40] haxxorsid commented on #32
Hmm

[2018-02-07 21:26] mbebenita opened #38 "Cite all the dependencies we have."

[2018-02-07 21:32] mbebenita commented on #38
The largest ones are the:

[Monaco](https://github.com/Microsoft/monaco-editor) for the editor, tree view and context menus.
[Wabt](https://github.com/WebAssembly/wabt) for disassembly and assembly of Wast
[Binaryen](https://github.com/WebAssembly/binaryen/) for validation, optimization.
[Clang Format](https://github.com/tbfleming/cib) for C source formatting.

[2018-02-07 21:51] mbebenita commented on #38
Fixed by #https://github.com/wasdk/WebAssemblyStudio/commit/2caa62f9645c9e8a3a7dc9f01e46bea6bc20ab85

[2018-02-07 21:51] #38 closed

[2018-02-08 01:57] mbebenita opened #39 "Use DirectoryTree in UploadFileDialog"
We can get a more consistent UI if we use the DirectoryTree component in the UploadFileDialog instead of the ListView component. This should also give us file icon, ability to delete files that we don't want uploaded, etc. almost for free.

[2018-02-08 02:59] yurydelendik opened #40 "[US-2] User compiles basic C code"
As a person who knows basic C or C++,
I want the ability to quickly write a simple application, compile it to WebAssembly, and run the code,
So that I may see if I can create a code that will run as WebAssembly in a browser.

[2018-02-08 03:04] yurydelendik opened #41 "[US-3] User compiles basic Rust code"
As a person that curios about Rust,
I want to see some example in Rust, compile it to WebAssembly, and run the code,
So that I may enter my own Rust code and see it run as WebAssembly in a browser.

Expected:
- [ ] to see example Rust code (.rs)
- [ ] to edit Rust code
- [ ] to build .wasm file from Rust code
- [ ] to see the HTML and/or JS that runs the wasm
- [ ] to edit the HTML and/or JS
- [ ]

[2018-02-08 04:06] mbebenita opened #42 "Beta banner covers View Workspace button."
![image](https://user-images.githubusercontent.com/311082/35955128-5570c3c0-0c42-11e8-8a1d-a3d35036dfc6.png)

![image](https://user-images.githubusercontent.com/311082/35955136-6195fab2-0c42-11e8-9596-74a66a0ee79d.png)

[2018-02-08 04:07] mbebenita commented on #42
A result of #37

[2018-02-08 04:14] mbebenita opened #43 "Make it easier to see files that have been updated."
It's difficult to see when a file has been updated, or re-generated. It would be nice if the UI somehow highlighted changed files.

[2018-02-08 06:53] nileshgulia1 commented on #42
@mbebenita  How about putting BETA banner on top-right?
![screenshot from 2018-02-08 12-23-00](https://user-images.githubusercontent.com/22280901/35959276-e6ecef6c-0cca-11e8-9211-8ef6ff9780ff.png)

[2018-02-08 10:19] haxxorsid commented on #15
Specify affected versions of Firefox.
I tried the Nightly build and Firefox 57. I don't see this problem in those.

[2018-02-08 10:22] AnshulMalik commented on #15
I can reproduce it in Firefox 58.0.1

[2018-02-08 14:15] nileshgulia1 commented on #39
@mbebenita I cannot able to see uploadfile button in project.

[2018-02-08 15:58] yurydelendik opened #46 "Verify if browser supports WebAssembly"
When WebAssemblyStudio is opened in the browser that does not support WebAssembly v1, we need to show a warning message that will inform that the application will not function normally/as expected.

[2018-02-08 18:34] haxxorsid commented on #33
IPFS has a --nocopy flag for allowing files to be added on IPFS network without duplicating the space they take up on disk. This way the fiddles won't be stored on server.

But the same option is not yet added in its [js-ipfs-api](https://github.com/ipfs/js-ipfs-api). So eventually, if we use IPFS(with js-ipfs-api) the fiddles will be stored on the server.

[2018-02-08 18:38] haxxorsid commented on #42
[Commit](https://github.com/wasdk/WebAssemblyStudio/pull/44)

Close this.

[2018-02-08 18:59] #42 closed

[2018-02-08 19:11] nileshgulia1 commented on #46
@yurydelendik  should we only check that webAssembly is present in browser as a object ? I'm thinking of something like this:
[code]

[2018-02-08 20:00] mbebenita commented on #39
@nileshgulia1 it's an option in a context menu. Right click on a directory on the left.

[2018-02-08 21:00] yurydelendik commented on #46
It's too heavy to start invoking WebAssembly.Module. Just `typeof WebAssembly === "object"` and some check that indicates v1 will work fine.

[2018-02-09 08:51] mbebenita commented on #46
I would recommend doing this check in `index.tsx` to avoid any unnecessary loading and using a `ReactModal` component as a prompt.

[2018-02-09 09:15] mbebenita opened #48 "Investigate using Make as build system for C/C++ projects."
Currently we use a "Gulp" like task manager to run build commands, but it's not very flexible or familiar to C/C++/JavaScript developers. Instead, one idea would be to just use Make and emulate a shell environment. Some commands would run client side (in the browser), others would execute on a remote server. The advantage to this approach would be that users could download the project locally, and

[2018-02-09 17:21] jonathandturner opened #49 "Rust needs syntax highlighting"
The current version doesn't seem to do any highlighting for Rust.

<img width="375" alt="screen shot 2018-02-10 at 6 20 23 am" src="https://user-images.githubusercontent.com/547158/36040522-8f784036-0e2a-11e8-8d88-b621cd8b0824.png">

[2018-02-09 17:23] jonathandturner opened #50 "Possible future exploration: running RLS in the browser"
Something we might want to explore on the Rust side is to run the RLS in the browser.  This would let them get all the same IDE support they'd have locally in the browser experience (like autocompletes, live error reporting, etc).

[2018-02-09 17:48] yurydelendik commented on #49
Related #41

[2018-02-09 17:49] yurydelendik commented on #50
Related #41 and #49

[2018-02-09 17:58] jonathandturner commented on #50
Good question.  Maybe @fitzgen might know a good person to do it.

[2018-02-09 17:59] nileshgulia1 commented on #46
@mbebenita  changes are not reflecting into the DOM when I change some file, why's this happening?

[2018-02-09 18:27] fitzgen commented on #50
I think @alexcrichton would be able to help out more, or know who could. Unfortunately, my rustc hacking experience is quite limited.

[2018-02-09 19:06] alexcrichton commented on #50
AFAIK there hasn't been much effort to compiling rustc itself to run in a browser, but it should certainly be possible!

[2018-02-09 19:59] mbebenita commented on #46
@nileshgulia1 can you elaborate please?

[2018-02-09 20:00] mbebenita commented on #46
Sorry, accidentally closed the issue.

[2018-02-09 20:45] nileshgulia1 commented on #46
@mbebenita  When I use to change some UI related code ,same should reflect onto the DOM(webpage) for eg: If I  change the header from `Web Assembly Studio` to some other name , its not actually changing in DOM or webpage. It suddenly happened, as It was working nicely before.

[2018-02-10 01:20] mbebenita opened #52 "Keep bundle.js under 500Kb unminified."
The current size is 1.18 MB, webpack-bundle-size-analyzer prints out:

[code]

[2018-02-10 01:23] mbebenita commented on #52
@haxxorsid jszip is too large to be included in `bundle.js`, especially since it's not used until downloading is requested. Can you move it into a dynamically loaded module? Or work out a simpler way to package files for downloading.

[2018-02-10 02:13] yurydelendik commented on #52
webpack has [code splitting](https://webpack.js.org/guides/code-splitting/) future which needs to be used here

[2018-02-10 18:18] mbebenita opened #57 "Double clicking on any tab pins the preview tab."

[2018-02-10 18:24] haxxorsid commented on #57
`this.state.group.open(file, false);`
Hmm.

[2018-02-10 18:44] mbebenita opened #59 "Design a more compact layout for small viewports."
When embedding in Medium, the default width of the embedding is quite small which leads our buttons to get all bunched up and overflow onto the next line. We should figure out a way to:

1. Hide or move the GitHub Issues button out of the way.
2. Reduce or hide button labels so thing fit.
3. Any other ideas?

![image](https://user-images.githubusercontent.com/311082/36065401-0104a450-0e4f-11e8-978

[2018-02-10 18:51] haxxorsid commented on #59
Slide/scroll buttons horizontally.
Like, grab a button drag it on right then the hidden left side button will come forth.
Example: We have tabs in Android like the one in Play Store-
![Android tabs](https://i.snag.gy/xWSwaX.jpg)

[2018-02-10 20:33] #15 closed

[2018-02-10 21:47] AwesomeObserver opened #61 "Run error"
**After build, Rust project not running.**

![screenshot_1](https://user-images.githubusercontent.com/19798308/36066895-e41afcde-0ec3-11e8-9df4-0ca2385bb589.png)

_main.js file_
[code]
**Error:** Uncaught (in promise) TypeError: instance.exports.add_one is not a function.

_main.rs file_
[code]

[2018-02-10 21:54] yurydelendik commented on #61
That's correct behavior -- 'main.js' calls non-existent in the 'main.rs' exported function.

[2018-02-11 18:39] #49 closed

[2018-02-11 18:41] mbebenita commented on #61
@AwesomeObserver just as a tip, when filing an issue you can click fork and paste the URL to the fiddle so we can see exactly what you see. This would also let us test out the fiddle functionality.

[2018-02-12 05:50] mbebenita opened #65 "Clean up icon handling."
File icons in the File Tree are from `seti.woff` and defined in `theme.css`. Icons in tabs are loaded from the `svg/` directory, other icons are defined in `Icons.tsx`, and others are defined in `octicons` so it's a bit of a mess.

[2018-02-12 05:54] mbebenita opened #66 "Deleting a file that is opened in a tab doesn't close the tab."
Tabs should not hang on to deleted files.

[2018-02-12 15:08] yurydelendik opened #68 "Avoid throwing an exception on start up"
When debugging with pause on all exception is perform, the exception is thrown when the application is loading. It is about unexpected token/character in JSON:

<img width="1121" alt="screen shot 2018-02-12 at 9 02 42 am" src="https://user-images.githubusercontent.com/1523410/36103055-dcae6902-0fd3-11e8-896e-ae6adbc666df.png">

It is expected that application will not throw any exception (even cau

[2018-02-12 21:11] kripken commented on #48
`make` seems the easier part. The hard part would be `bash` which I'm guessing uses all kinds of POSIX APIs to create processes, pipe their output, etc. The closest thing I am aware of to that is [browsix](https://browsix.org/).

[2018-02-12 21:30] MaxGraey commented on #68
I investigate this unresolved issue.

It happening during parsing markdown. I think some issue like this happening we have got a lot of forceUpdate calls like in current [case](https://github.com/wasdk/WebAssemblyStudio/blob/97f21fc1dc3ddb7732b794ff8330005edf0b8046/src/components/App.tsx#L244). **forceUpdate** is antipattern and we should avoid this. Instead for main container and dialog use separ

[2018-02-12 22:21] yurydelendik commented on #68
Yes, we need to open an issue to remove/reduce forceUpdate usages

[2018-02-12 23:06] mbebenita opened #71 "Add a Save button."
At the moment, we rely on keyboard shortcuts to save file buffers, which is a problem for mobile devices. Once possible place to add such a button is next to the split pane button.

![image](https://user-images.githubusercontent.com/311082/36124770-3f41dcca-1006-11e8-93b1-32810eeceef6.png)

The button can be disabled when there's nothing to be saved.

[2018-02-12 23:13] mbebenita opened #72 "Pop up context menus on touch events."
On mobile there's currently no way to bring up context menus. We should trigger these using a long press, or whatever makes sense.

[2018-02-13 01:38] mbebenita opened #74 "Gist context menu option."
We can add a gist option in the context menu when right clicking on a file, or folder. This would make it possible to just share individual files.

[2018-02-13 05:55] RMCoder198 opened #75 "Option for tutorial"
Add an option for tutorial of how to use wasm fiddle for new users of wasm fiddle.

[2018-02-13 07:16] haxxorsid commented on #75
Example: https://wrapapi.com/api

[2018-02-13 12:26] haxxorsid commented on #72
Maybe long press event should be added in DirectoryTree component, but I have a problem in accessing onContextMenu( which is written inside Controller in DirectoryTree) event when a long press is performed.

[2018-02-13 14:33] yurydelendik commented on #74
Fixed by #76

[2018-02-13 14:33] #74 closed

[2018-02-13 17:50] dcodeIO commented on #16
Not sure if the PR above solves this issue. If not, what else would be necessary? :)

[2018-02-13 18:14] mbebenita commented on #16
I think it solved it! Fixed by #77

![image](https://user-images.githubusercontent.com/311082/36166167-8e38e134-10a6-11e8-83b3-12aaeb67283f.png)

[2018-02-13 18:14] #16 closed

[2018-02-13 19:46] mbebenita opened #80 "Control Center Collapse Button doesn't work yet."
![image](https://user-images.githubusercontent.com/311082/36170143-5fb317a0-10b3-11e8-8218-03e132b24bcd.png)

This should work pretty much like the button that collapses the workspace.

[2018-02-13 20:44] mbebenita opened #81 "WebAssembly Studio or is it Web Assembly Studio?"
Space or no space?

[2018-02-13 20:44] mbebenita commented on #81
I think it should be WebAssembly Studio, with no space.

[2018-02-13 20:50] yurydelendik commented on #81
(Votes for Web Assembly Studio go here)

[2018-02-13 22:34] mbebenita commented on #81
K, it looks like we have a winner. Fixed by https://github.com/wasdk/WebAssemblyStudio/commit/520d7077b51f1679d8e318f8aeaa5225023a9f45

[2018-02-13 22:34] #81 closed

[2018-02-13 22:42] dcodeIO opened #82 "Use .wat instead of .wast?"
Probably relevant for WebAssembly Studio as well, see: https://github.com/dcodeIO/long.js/issues/53

[2018-02-13 22:45] mbebenita commented on #82
I guess we need to change it to stay consistent.

[2018-02-14 15:27] Biboswan commented on #71
Hi, I would like to work on this.

[2018-02-14 17:26] RMCoder198 commented on #75
Well, Putting a youtube video will be easy.

[2018-02-14 17:36] RMCoder198 commented on #80
I want to hide the output and problems area along with output screen after hitting that button. So, that user can see more code without scrolling.
@mbebenita
Should i work on this in my way ?

[2018-02-14 19:24] mbebenita commented on #71
That would be great. Are you able to assign yourself to the issue?

[2018-02-14 19:32] RMCoder198 commented on #80
Yes ,ok.

[2018-02-14 20:22] Biboswan commented on #71
Do you mean self-assign ? I don't think there is such permissible option.

[2018-02-14 20:28] yurydelendik commented on #71
@Biboswan  comment "I would like to work on this" is okay to start work, but normally you don't need to ask permission to work on something. Just make sure, when you are submitting a PR, to refer this issue in the "Associated issue:" field.

[2018-02-14 20:38] mbebenita commented on #71
@Biboswan but I do think it's a good idea to say you're interested in an issue, in case others may be working on the same thing.

[2018-02-15 06:52] mbebenita commented on #72
Yeah, there's some digging around in the VS Code sources for this. If you change the include path in `index.html` for the Monaco Editor from `monaco-editor/min/...` to `monaco-editor/dev/...` you can at least debug the sources.

[2018-02-15 14:16] yurydelendik opened #91 "Remove/reduce forceUpdate usages"
There are several components that use `this.forceUpdate()`:

- [x] App.tsx
- [ ] ~~EditorPane.tsx~~
- [x] StatusBar.tsx
- [x] Binary.tsx
- [x] ControlCenter.tsx
- [x] Markdown.tsx
- [x] UploadFileDialog.tsx
- [x] Viz.tsx
- [x] ViewTabs.tsx
- [x] Workspace.tsx

It is [not-recommended](https://reactjs.org/docs/react-component.html#forceupdate) to use this method to trigger `render`. We need to:

a)

[2018-02-15 14:47] yurydelendik opened #92 "DirectoryTree is not changing on resize"
STR:
1. open not-tall  (~200px in height) browser window
2. navigate to https://http://webassembly.studio/
3. increase height on the window
4. create a project from a template
5. scroll directory tree up and down

Notice that the tree is not extended all the way to the bottom.

It's expected that tree on the left takes all available space.

![2018-02-15 08 42 32](https://user-images.githubusercont

[2018-02-15 17:57] haxxorsid commented on #22
@yurydelendik This as MVP with canvas, those states + resizable window?

[2018-02-15 18:55] dcodeIO commented on #57
Is this still an issue after https://github.com/wasdk/WebAssemblyStudio/pull/87 ? If so, could you explain a bit how to reproduce (not sure what the "preview" tab is)?

[2018-02-15 19:00] haxxorsid commented on #57
![Preview Tab](https://snag.gy/HUw0lh.jpg)
Open some tab(single click) on a file from directorytree, the tab's name will be italic. That italic one will be the preview tab, if I try to single click on some other file from directorytree, that other file will be opened up in the preview tab.

[2018-02-15 19:03] mbebenita commented on #57
A "preview tab" is the tab in which new files will be loaded, for instance:

![image](https://user-images.githubusercontent.com/311082/36275262-349584b2-123f-11e8-833f-5b22762dc685.png)

the tab for "main.js" is the preview tab. If you click on another file in directory tree, it will open in this tab unless it's already been opened in a tab. There is only one preview tab for a group. If there is n

[2018-02-15 19:03] mbebenita commented on #57
Ah, @haxxorsid and I tried to answer at the same time.

[2018-02-15 19:03] dcodeIO commented on #57
Thanks to both of you :)

[2018-02-16 01:39] mbebenita opened #98 "Fix Toast Style"
Font Face doesn't match the rest of the UI.

![image](https://user-images.githubusercontent.com/311082/36289823-074b274a-1277-11e8-9e8f-96789f96b450.png)

[2018-02-16 08:20] thuselem commented on #98
Should this match the font used in the toolbar?

![toolbar](https://user-images.githubusercontent.com/7957636/36298832-f71af1ce-12ae-11e8-8d1f-95ae62cc710d.png)

[2018-02-16 09:07] dcodeIO opened #99 "Just-opened files are all-selected occasionally"
![select](https://user-images.githubusercontent.com/1136893/36300227-ad9a250e-1300-11e8-9b8c-aadc8d3dfbad.jpg)

Unfortunately, I haven't yet figured out a reliable way to trigger this, but this happens rather regulary on my end when switching between files. Did someone else notice this or is it my PC? :)

[2018-02-16 09:13] dcodeIO opened #100 "Editing and closing a file without saving doesn't discard the changes"
If it's `build.ts`, then there'll also be warnings in the output window that the file hasn't been saved yet, even though it isn't opened anymore. As an indicator, the file also keeps showing the new "M" symbol.

I expected a prompt asking whether I'd like to discard the changes or save, when closing.

[2018-02-16 09:21] dcodeIO opened #101 "Add a prompt when closing WebAssembly Studio"
When closing the WebAssembly Studio tab, any unsaved changes are lost, which is correct, but closing the tab might be unintended by the user. Having a prompt here would prevent losing work by mistake.

[2018-02-16 09:22] dcodeIO commented on #100
Somewhat related: https://github.com/wasdk/WebAssemblyStudio/issues/66

[2018-02-16 09:22] dcodeIO commented on #101
Somewhat related: https://github.com/wasdk/WebAssemblyStudio/issues/71

[2018-02-16 10:14] haxxorsid commented on #99
Not me.

[2018-02-16 10:41] haxxorsid commented on #100
I think the new M indicator is doing better work if someone doesn't want to keep its newly edited changes he can see which file has been changed and unsaved, then he can open then undo it if he wants the saved state back. Basically, M is working like a "this file is minimized, and it is unsaved". On the top of current "M", solution for #101  will work perfectly.

What if the screen is too small an

[2018-02-16 10:48] dcodeIO commented on #100
New users might get used to it this way, that's true, but as a user of VSCode (there might be other editors doing it this way as well), it feels unintuitive to me. Ultimately, I can live with it as I know how it works, but doing it like other editors would help to reduce friction.

[2018-02-16 10:54] haxxorsid commented on #100
Hmm **contemplating**

[2018-02-16 12:02] haxxorsid commented on #92
[#96](https://github.com/wasdk/WebAssemblyStudio/pull/96)
Close.

[2018-02-16 13:38] yurydelendik commented on #99
@dcodeIO what do you use for switching between files? with exact steps, including e.g. "click shift key + holding middle mouse button".

[2018-02-16 17:00] dcodeIO commented on #99
I think I found out how to reproduce it:

* Create a new project
* Close all files
* Left-click the empty editor area once (where the file contents would be otherwise)
* Open a file using the directory tree

[2018-02-16 17:11] haxxorsid commented on #99
Step 3: Double left clicking the empty editor area reproduces it.

[2018-02-17 10:37] dcodeIO opened #105 "Wast language should tokenize valid identifiers"
![wastid](https://user-images.githubusercontent.com/1136893/36340131-90179968-13d6-11e8-9353-c453ed7cc304.jpg)

Reference: https://webassembly.github.io/spec/core/text/values.html#text-id

[2018-02-17 17:03] mbebenita commented on #99
Is this happening in both Firefox and Chrome?

[2018-02-17 17:26] kanishkarj commented on #39
@mbebenita I would like to work on it

[2018-02-17 18:44] dcodeIO commented on #99
Seems that in Firefox, a single left click is sufficient to trigger this, while in Chrome, a double left click is required.

[2018-02-18 12:02] nileshgulia1 commented on #82
@mbebenita Do we just have to rename `wasm.wast` to `wasm.wat`?

[2018-02-18 12:27] dcodeIO commented on #82
There are a couple of mentions of "wast" or "Wast" in file descriptions, comments, the respective language file and internally used functions as well. Should probably rename [these](https://github.com/wasdk/WebAssemblyStudio/search?utf8=%E2%9C%93&q=wast&type=) as well.

[2018-02-18 20:08] haxxorsid commented on #98
Merged: #102
Close this.

[2018-02-18 20:08] haxxorsid commented on #98
Close this

[2018-02-18 20:09] haxxorsid commented on #71
Close this

[2018-02-18 20:11] haxxorsid commented on #92
Issue has been solved. Close this.

[2018-02-18 20:17] haxxorsid commented on #82
Close this.

[2018-02-19 13:18] #92 closed

[2018-02-19 13:19] #71 closed

[2018-02-19 13:41] haxxorsid commented on #98
Close this

[2018-02-19 15:25] #98 closed

[2018-02-19 16:35] thuselem commented on #32
I would like to write this example. Should it be included with the templates? I see `hello_world_c` in there.

[2018-02-19 16:40] yurydelendik commented on #32
Yes, it should. I think users will appreciate the small hello world wat application/example.

[2018-02-19 20:19] #34 closed

[2018-02-20 14:13] yurydelendik commented on #61
Closing issue as answered. The "expected behavior" clause is missing, so it's hard to tell how the issue shall be resolved.

[2018-02-20 14:13] #61 closed

[2018-02-20 14:14] yurydelendik commented on #52
To make this issue more specific:
- [ ] add a test for 500k-limit for the main bundle

[2018-02-20 22:36] yurydelendik opened #112 "Intercept `fetch()` call at the sandbox level"
Currently we are writing `fetch(getFileURL('out/main.wasm'))` in the examples. It is preferable if we will use just `fetch('../out/main.wasm')`.

We can use/intercept this function on the "sandboxed" window, and extend request (URLs) with blob URLs.

[2018-02-20 22:39] mbebenita commented on #112
👍

[2018-02-20 23:45] mbebenita opened #114 "Find a better .wat file icon"
![image](https://user-images.githubusercontent.com/311082/36455469-03679a50-1655-11e8-983f-0748b67b8492.png)

[2018-02-21 00:02] yurydelendik opened #115 "Replace XMLHttpRequest usage with fetch()"
We use xhr at https://github.com/wasdk/WebAssemblyStudio/blob/f86ffbabd795a523f5edb80729a6dd27b67b7bba/src/service.ts#L274

- [x] createGist
- [x] saveJSON

Is it possible to replace it with fetch()?

[2018-02-21 00:06] yurydelendik opened #116 "Move usages of `window.alert()` from service.ts"
`validateWasmWithBinaryen` and `validateWatWithBinaryen` use `window.alert`. It's expected to any UI logic from Service, and, possibly, replace it with something nice and pretty.

[2018-02-21 00:43] yurydelendik commented on #112
Fixed by #117

[2018-02-21 00:43] #112 closed

[2018-02-21 01:46] yurydelendik opened #118 "main.html examples incorrectly point to src/main.js"
The main.html's are located at the "src" folder already. The html script tag shall point to "./main.js" instead of "src/main.js". This probably affects project run() action.

[2018-02-21 01:59] yurydelendik opened #119 "Make build.ts a valid gulpfile"
The example "build.ts" in not executable by gulp. We need the following header:

[code]

It will be nice to have default package.json included too: with `gulp`, `ts-node` (and `@wasm/studio-utils`) dependencies. Having `gulp --gulpfile ./built.ts` as "build" npm task might be useful as well.

[2018-02-21 02:30] mbebenita commented on #33
Because we can't publish the blog post until this is resolved, I will hide the Update button by default and put it behind a pref.

[2018-02-21 02:36] mbebenita commented on #33
To enable the Update feature, use `http://localhost:8080/?update=1&f=8aio1`

[2018-02-21 02:37] mbebenita commented on #59
At 640 width, this now looks like:

![image](https://user-images.githubusercontent.com/311082/36460420-145e19de-166d-11e8-9c59-d76f0d848bef.png)

[2018-02-21 02:37] #59 closed

[2018-02-21 04:59] mbebenita commented on #46
Fixed by https://github.com/wasdk/WebAssemblyStudio/pull/120

[2018-02-21 04:59] #46 closed

[2018-02-21 04:59] mbebenita commented on #80
Fixed by https://github.com/wasdk/WebAssemblyStudio/pull/120

[2018-02-21 04:59] #80 closed

[2018-02-21 04:59] mbebenita commented on #33
Temporarily fixed by https://github.com/wasdk/WebAssemblyStudio/pull/120

[2018-02-21 15:31] yurydelendik commented on #119
Fixed by 5fc2163 and #121

[2018-02-21 15:31] #119 closed

[2018-02-23 01:14] mbebenita opened #128 "LLVM symbols are missing."
STR:

1. https://webassembly.studio/?f=18gvrx
2. Click build
3. Open `out/main.wasm` and see that function names are missing.

In `build.ts` we pass "-g -O3" so symbols should appear. I think this is a problem in the service, because the Binary Explorer also doesn't show anything that may look like symbols.

[2018-02-23 07:52] mbebenita commented on #128
Symbols that are in the `main.c` are kept, maybe it's an issue with the libraries that are linked in.

[2018-02-23 14:32] yurydelendik commented on #115
Fixed by #125

[2018-02-23 14:32] #115 closed

[2018-02-23 16:26] yurydelendik opened #131 "Upload directories"
See https://github.com/wasdk/WebAssemblyStudio/pull/36#issuecomment-363899987

We need to investigate if it's possible to upload a directory. It will provide alternative to have templates locally and upload them into WebAssembly Studio.

[2018-02-23 19:03] yurydelendik commented on #131
See https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/webkitdirectory

[2018-02-23 19:48] yurydelendik opened #132 "No scrolling in md preview"
STR:
1. open https://webassembly.studio/
2. select "Hello World in C" template and create a project
3. notice "Preview README.md" has no scroll bars or no scrolling functionality

Expected to see scrollbar and be able to use mouse/pad to scroll.

[2018-02-23 20:19] mbebenita commented on #132
I'm fixing this shortly.

[2018-02-23 20:29] #132 closed

[2018-02-23 21:05] mbebenita opened #136 "Preserve some directory "structure" when exporting a gist."
https://gist.github.com/anonymous/cd3a50da1874570ca79827dc216dae73

At the moment, when exporting a gist, the directory structure is flattened out. This may be a problem if two files with the same name appear in different directories. We should instead use file names that include the directory structure. If it's not possible to prefix file names with a path that includes `/` we can maybe use `_`.

[2018-02-23 21:07] mbebenita commented on #136
CC'ing @haxxorsid since he has the most experience with gists.

[2018-02-23 21:11] mbebenita opened #137 "Infinite loop when dragging and dropping a folder over itself."
STR:

1. Create an Empty C Project.
2. Drag the `src` folder and drop it over itself.
3. Wait forever.

[2018-02-23 21:14] haxxorsid commented on #136
Off for 1 week. Till then, if someone else works on this minor issue, he/she is welcomed.

[2018-02-26 04:54] mbebenita opened #140 "Don't save file type in serialized fiddle."
There's no real reason to do this, we should remove it and derive the file type from the extension.

[2018-02-26 08:43] mbebenita opened #142 "Don't render entire App whenever a buffer changes."
This is caused by this `forceUpdate` - https://github.com/wasdk/WebAssemblyStudio/blob/master/src/components/App.tsx#L215

We should update whenever a file's dirty status changes, not whenever the buffer changes, which happens very frequently. It's quite impressive the app is as fast as it is, given that it's refreshing on every key stroke.

[2018-02-26 12:21] Scoombe commented on #142
@mbebenita is the fix to remove this function?

[code]

Or is there something to add?

[2018-02-26 16:44] mbebenita commented on #142
I think we need to add another kind of event, like `onDidChangeMetaData` that only fires for things the UI cares about. The reason we have the `forceUpdate` for `onDidChangeBuffer` is because we want to show the `M` next to files that have been modified.

[2018-02-26 17:59] mbebenita commented on #142
Yes, I think so. All other views register themselves to the file's buffer directly.

[2018-02-27 13:25] #137 closed

[2018-02-27 13:49] #118 closed

[2018-02-27 13:50] yurydelendik commented on #52
Fixed by #133

[2018-02-27 13:50] #52 closed

[2018-02-27 13:53] yurydelendik commented on #65
The issues does not specify expected behavior. Looks #126 addressed the main concern though. Closing as fixed.

[2018-02-27 13:53] #65 closed

[2018-02-27 13:53] yurydelendik commented on #114
Fixed by #126

[2018-02-27 13:53] #114 closed

[2018-02-27 14:03] yurydelendik opened #144 "Add rustfmt support"
(Moved from https://github.com/wasdk/WebAssemblyStudio/issues/13#issuecomment-363595181)

It will be nice to compile rustfmt into WebAssembly and run it on the client side. (As alternative, we can run it on the server.)

[2018-02-27 14:03] yurydelendik commented on #13
Somewhat addressed. User story for Rust is at #41, so we can close this one.

Tracking that in #144

[2018-02-27 14:03] #13 closed

[2018-02-27 20:43] yurydelendik commented on #128
Fixed by removing `--strip-debug` option, see https://github.com/wasdk/wasmexplorer-service/commit/56115f46a538c7b901585f5e33475869e7882ebe

[2018-02-27 20:43] #128 closed

[2018-02-28 01:55] mbebenita opened #145 "Add support for svelte."
Related Issue https://github.com/fitzgen/svelte/issues/9#issuecomment-369071150

[2018-03-01 16:09] haxxorsid commented on #131
It will be helpful if someone first works on #39 and also adds drag, drop functionality.
Then this can work out a bit easier.

[2018-03-01 16:11] haxxorsid commented on #17
Close this.

[2018-03-01 18:40] #17 closed

[2018-03-03 06:41] mbebenita commented on #140
Fixed by #146

[2018-03-03 06:41] #140 closed

[2018-03-03 08:35] mbebenita opened #148 "Move all blocking services to the worker thread."

[2018-03-03 10:05] mbebenita opened #149 "Handle large files."
App should not fall apart when handling large files. For example, it should be possible to upload a 10MB `.wasm` file, optimize it, and then download it back. For operations like forking, cfg graphs, where it's not reasonable to handle such large files we should fail gracefully.

[2018-03-03 16:17] jpryne opened #151 "Unable to Create New Project"
Suddenly, there are no options within the "Create New Project" dialog. This was working yesterday.

[2018-03-03 16:19] haxxorsid commented on #151
Yep. PR for this is open I think.

[2018-03-03 16:50] hleal18 commented on #66
Hello, I'm getting familiar to the project and I'd like to know if there's someone working on this bug already, otherwise I'd like to give it a try and work on it.

[2018-03-03 18:43] jpryne commented on #151
Looks good.

[2018-03-03 19:08] haxxorsid commented on #144
Project: Client-side all the things

[2018-03-03 20:01] chrisjj opened #153 "No "Save" command found"
How do I save a changed source?

I chose to create an empty C project, got a non-empty C project, made a source change, did Build, and got this warning.

![image](https://user-images.githubusercontent.com/6157073/36938706-7a182bbc-1f1d-11e8-8735-6217ae332635.png)

[2018-03-03 20:04] mbebenita commented on #131
Partially fixed by #154, there's sill some follow up work to be done here, like error checking and dragging and dropping.

[2018-03-03 20:05] chrisjj opened #155 ""Help and Privacy" contains no Help."
Just a privacy statement:

![image](https://user-images.githubusercontent.com/6157073/36938754-322243c8-1f1e-11e8-8498-a0e0cd278be9.png)

[2018-03-03 20:05] mbebenita commented on #153
`Cmd+S` should work, there used to be a button to do this, but it went missing. I'll look for it.

[2018-03-03 20:14] chrisjj opened #156 "Empty (sic) C project Build gives only one empty line in Output"
And no indication that the build took place.

Perhaps this line was supposed to be a completion message?

![image](https://user-images.githubusercontent.com/6157073/36938826-54e5d1a8-1f1f-11e8-92f5-59c4d2d4236a.png)

[2018-03-03 20:18] chrisjj commented on #153
Thanks. It works.

[2018-03-03 20:21] mbebenita commented on #153
Fixed by https://github.com/wasdk/WebAssemblyStudio/pull/157

[2018-03-03 20:21] #153 closed

[2018-03-03 20:23] mbebenita commented on #155
Indeed, we haven't had a chance to write help yet. We're hoping to produce several introductory YouTube videos.

[2018-03-03 20:25] mbebenita commented on #156
The only indication at the moment is that a `main.wasm` file is created. Would be great to figure out a better way to give feedback.

[2018-03-03 20:26] haxxorsid commented on #156
@mbebenita Reminds me of: [this](https://github.com/wasdk/WebAssemblyStudio/issues/22#issuecomment-366009626)

[2018-03-03 20:28] chrisjj opened #158 "Inconsistent 'modified' indicator"
'Modified' is indicated on the file tab by a circle, yet in the Project Workspace by an 'M'.

![image](https://user-images.githubusercontent.com/6157073/36938957-713602d6-1f21-11e8-827e-dfbed77eb035.png)

[2018-03-03 20:30] chrisjj opened #159 "On Empty C project, README.md is uneditable"
Typing here is ignored,

![image](https://user-images.githubusercontent.com/6157073/36938982-bae84c7c-1f21-11e8-9829-209dd68dc365.png)

[2018-03-03 20:33] chrisjj commented on #156
Call me old-fashioned :) but how about

    [info]: Build complete

[2018-03-03 20:33] mbebenita commented on #159
We should document this. The way to do this is to toggle editing mode.

![image](https://user-images.githubusercontent.com/311082/36938997-ec4d6b78-1ede-11e8-9bd6-67c34d5f5673.png)

You can split the view and have one file view in edit mode, and one file view in preview mode, so you can see your changes live.

[2018-03-03 20:37] mbebenita commented on #156
That's a good suggestion. However, there are several other actions that users can take, through context menus and such which would need some kind of feedback too. We could write all these to the output window, but we haven't though through all the implications just yet.

[2018-03-03 20:38] chrisjj commented on #159
If that means it's in non-edit mode, I suggest add an indicator on the file line & tab. Currently there's none.

And note that file offers an Edit command that offers an Edit button that doesn't work.

![image](https://user-images.githubusercontent.com/6157073/36939050-b8f80564-1f22-11e8-8354-65dc19e3770a.png)

I don't see your eye icon anywhere on the UI. This is using Chrome browser.

[2018-03-03 20:39] mbebenita commented on #66
I don't think anyone is working this at the moment, feel free to give it a shot.

[2018-03-03 20:42] haxxorsid commented on #159
It's on the right side corner just below Github Issues red colored button. It looks like: **<>**

[2018-03-03 20:48] mbebenita commented on #159
@chrisjj yah, I accidentally took a screen shot of the preview button instead.

[2018-03-03 20:49] haxxorsid commented on #155
Related: #75

[2018-03-03 21:43] chrisjj commented on #159
Got it. Thanks.

I really think the Edit command oght to enter edit mode.

[2018-03-03 22:30] mbebenita commented on #159
The Edit context menu command is meant to edit file metadata, name description, and other future properties. Perhaps it’s poorly named.

[2018-03-03 22:48] chrisjj commented on #159
Agreed :)

[2018-03-05 18:15] haxxorsid commented on #144
Server: https://github.com/haxxorsid/rustfmt-heroku-slug

[2018-03-05 20:36] yurydelendik commented on #144
Is there a way you can submit a PR to rust-heroku-slug

[2018-03-05 21:17] yurydelendik commented on #66
Fixed by #161

[2018-03-05 21:17] #66 closed

[2018-03-06 09:01] haxxorsid commented on #144
Yeah, why not.

[2018-03-06 17:41] mbebenita opened #162 "When forking, or sharing, suggest code formatting."
Suggest to the user that they should format their code before sharing it with others.

[2018-03-06 17:43] mbebenita opened #163 "Design a tree-map visualization for Svelte."
CSS grid layouts may be an interesting approach to this problem.

[2018-03-07 11:12] divyabaid16 commented on #163
I would like to work on this. Can you please guide me?

[2018-03-07 19:32] mbebenita commented on #163
@divyabaid16 sure, I think the first step will be to create a React component that can display a nested tree map and offer some interactivity. The data source can just be a simple JSON object graph, we can wire it up to Svelte later.

Next, we should introduce, a new `ViewType` and wire it up the same way `MarkdownView` works.

[2018-03-10 15:42] garvitdelhi commented on #158
Hi, I would like to pick this up, I am done with setting up the dev env and also have started to work on it.

[2018-03-10 16:29] haxxorsid commented on #39
Close this. ([Merged](https://github.com/wasdk/WebAssemblyStudio/commit/6f9fcde4b07f2ea8ccca03baa0f5e033953f4b87))

[2018-03-12 06:29] RMCoder198 commented on #148
Can you explain this issue little more ?

[2018-03-12 15:07] shinytang6 opened #166 "Auto-saving project when download"
If you make changes to the code and try to download. What you download is not the latest code

[2018-03-12 15:12] shinytang6 commented on #166
Also l think the 'fork' should save the project first, does it make sense?

[2018-03-13 12:54] yurydelendik commented on #148
Anything that can potentially run longer, e.g. more than 500 sec, shall be move to the worker thread:

- [x] binaryen ops
- [x] wabt ops
- [ ] compileMarkdownToHtml ? (eval its performance first)
- [ ] clangFormat
- [ ] disassembleX86

[2018-03-13 15:52] haxxorsid commented on #57
Close this.

[2018-03-13 16:34] mbebenita commented on #148
Exactly what @yurydelendik mentioned. The process is fairly straight forward, move functionality to `worker.ts` and wire up the appropriate message passing to invoke it.

[2018-03-13 18:40] #57 closed

[2018-03-14 10:44] RMCoder198 commented on #166
How about adding a prompt when user tries to download unsaved project ?

[2018-03-20 10:23] pannous opened #171 "fails silently with google-analytics.com blocked"
https://webassembly.studio/?f=60bnkjkt9wd compiles ok, but 'Run' has no effect

[2018-03-20 16:30] mbebenita commented on #171
@pannous this only fails when GA is blocked right? How did you block the domain? So I can try and reproduce. We certainly should not fail in the absence of GA.

[2018-03-21 04:24] mbebenita commented on #171
I tried reproducing this and had no luck.

[2018-03-22 04:07] kenrick95 opened #174 "wat project: build error causes app stuck at "building""
1. https://webassembly.studio/?f=qwejfuumnhd
2. Notice that there is error in wat codes (`$add` is not defined); Note: this is intentional
3. Click "Build"
4. App will stuck at "Building project..." and no other action could be made

<img width="724" alt="screen shot 2018-03-22 at 12 03 01 pm" src="https://user-images.githubusercontent.com/3090380/37750636-0ca55306-2dc9-11e8-89e7-8712cbdb0c23.png"

[2018-03-22 05:04] mbebenita commented on #174
This is really strange. If i create an empty .wat project, the main.wat file looks different. The name of the main function is $add, not $error.

[2018-03-22 07:12] kenrick95 commented on #174
Yeah, that's my point, if I mistakenly have an error in my .wat project, in this case naming the function as `$error` instead of `$add`, seems like the whole WebAssemblyStudio app will crash (and I need to reload the page to recover its functionality, losing the codes that I've worked on)

[2018-03-23 07:46] ollelauribostrom commented on #101
I’ve looked a bit at this. Seems pretty straightforward to add an event listener to the window, listening for the beforeunload event (in App.tsx componentDidMount or in index.tsx). I am guessing that the prompt should always appear, regardless of whether there actually are any unsaved files in the project?

[2018-03-26 18:07] yurydelendik commented on #171
There is an error when there is a first/cold start of the app

<img width="823" alt="screen shot 2018-03-26 at 1 06 23 pm" src="https://user-images.githubusercontent.com/1523410/37924134-906a7006-30f6-11e8-8f60-c72a492cd3b7.png">

[2018-03-26 18:14] yurydelendik commented on #174
Fixed by #176

[2018-03-26 18:14] #174 closed

[2018-03-26 19:01] mbebenita commented on #171
I think this happens if you click build too quickly after the project loads.

[2018-03-30 18:57] hleal18 commented on #99
I want to know if there is someone working on this issue, otherwise, I'd like to work on it.

[2018-03-30 18:59] haxxorsid commented on #99
@hleal18 nope I think. You're welcomed to work on this.

[2018-04-02 15:53] dcodeIO commented on #171
Would be ideal if there'd be a way to tell the IDE to disable the build and run buttons while a dependency is still loading. The AssemblyScript setup code could then disable the buttons when loading starts, and enable them again once the compiler is ready.

[2018-04-03 23:11] jmanden opened #177 "Memory allocation (malloc) for arrays in c language utilizing webassembly?"
New to webassembly and the c language.

I have a question regarding webassembly compiled in wasm fiddle. See script fiddle: https://wasdk.github.io/WasmFiddle/?1cmwxv

I'm trying to make the following script work where I declare the size of arrays with array sizes provided from JS code (e.g. writeArrayHelper) with the malloc function (e.g. in the getIntOffsetWriteArray0 c function) in order to all

[2018-04-04 01:34] jmanden opened #178 "Wasm fiddle specification of wasmImports?"
Hi,

I was wondering if anyone could show me what the code is for the wasmImports in the basic https://wasdk.github.io/WasmFiddle/ example?

Kind regards

[2018-04-04 12:40] yurydelendik commented on #178
In wasmfiddle, there is "Imports Template" tab that shows JS for specific C code:
<img width="575" alt="screen shot 2018-04-04 at 7 38 50 am" src="https://user-images.githubusercontent.com/1523410/38308040-6c707646-37db-11e8-929b-8dc17dc0fdf2.png">

Closing as answered.

[2018-04-04 12:40] #178 closed

[2018-04-04 12:44] yurydelendik commented on #177
The malloc is defined in libc, which will be include in final wasm by linker. The old compiler in WasmFiddle does not do that (in its settings you can set a new compiler option though). Since you are trying to use memory allocation and other function that require system, you will need to implement/stub syscalls. Closing as answered.

[2018-04-04 12:44] #177 closed

[2018-04-11 18:17] tomer opened #182 "Typo fix in hello_world.c -- memeory.grow()"
I think that `memeory.grow()` should be changed to `memory.grow()`, unless the typo is a meme by itself. :smile:

[2018-04-11 18:28] yurydelendik commented on #182
Fixed by #183

[2018-04-11 18:28] #182 closed

[2018-04-11 20:57] JobLeonard opened #184 "Use kiwi.js instead of Cassowary?"
Cassowary.js hasn't been updated in years.

When someone commented on that in the github repo, [the maintainers themselves suggested kiwi.js](https://github.com/slightlyoff/cassowary.js/issues/79) for an alternative faster implementation:

https://www.npmjs.com/package/kiwi.js

I don't think Cassowary is currently a bottleneck, but if the API is identical and it doesn't introduce new bugs, then wh

[2018-04-11 22:36] kainino0x opened #185 "hello_world_c: warning: type specifier missing, defaults to 'int' [-Wimplicit-int]"
This warning is shown when the hello_world_c project is built:
[code]

It seems like

https://github.com/wasdk/WebAssemblyStudio/blob/2740c1961d393fecc1029f1a77dcf2ca7ee2d2d9/templates/hello_world_c/src/main.c#L12

should be
[code]

[2018-04-11 23:03] mbebenita commented on #184
@JobLeonard thanks for the tip, I hadn't come across this implementation.

[2018-04-12 12:11] nikuraj006 opened #186 "folder upload problem"
when we upload tree structured then its upload only last folder file so if in this have unzip option then it will good for us

[2018-04-12 14:40] SimonDarksideJ opened #187 "Support for C# when building webassembly projects"
I know it's a reach, but is there any possibility for supporting C# as well as the existing C/C++ for writing webassembly projects.

Else it means building a separate cross-compiler for projects.

Thoughts?

[2018-04-12 15:01] yurydelendik commented on #187
is there a production quality version of C# to WebAssembly compiler on the market?

This is out of scope of this project.

[2018-04-12 17:58] fitzgen opened #189 "Allow loading projects from a git repo"
Would be awesome if we could load the Rust+Wasm game of life tutorial from its git repo (and choose particular branches to checkout)

https://github.com/rustwasm/wasm_game_of_life

[2018-04-12 23:14] skierpage opened #190 "context menu in source pane is often obscured by output pane"
I tried the inline studio window in https://hacks.mozilla.org/2018/04/sneak-peek-at-webassembly-studio/ . It works well, but if I right-click on a source term towards the bottom of the source pane, the context menu that appears is obscured by the output pane below. In the screenshot, you only see the first menu item "Change all occurrences", the rest (Cut, Copy, Command Palette, etc.) are obscured

[2018-04-16 07:43] cztomsik opened #191 "walt support"
Hello, I'm curious if you're open to other input sources. I'd be especially interested in [walt](https://github.com/ballercat/walt) which aims at being as close to js as possible, unlike AssemblyScript which builds on top of TypeScript.

[2018-04-17 22:07] konstin opened #193 "Mouse wheel click ("open in new tab") on "Github Issues" triggers the popup blocker"
When clicking with the mouse wheel on the "GitHub issues" button in the top left, WebAssembly Studio should open a new tab instead of trying to open a new window, especially since the latter triggers firefox' popup blocker.

[2018-04-17 22:14] konstin opened #194 "Rust projects should be built before running"
Trying to run a rust program before compiling at least once will (obviously) lead to an error. Running without re-compiling can also lead to very confusing situations where the new javascript runs with the old rust code. I therefore suggest to always build the code before running it. This would also match cargo's behavior.

[2018-04-17 22:57] yurydelendik commented on #194
One of the goals to show users where all files are coming from, trying to hide and automate may contradict this goal. Adding "Build & Run" may be a better choice here.

[2018-04-17 22:58] konstin commented on #194
Indeed, that would be a good solution!

[2018-04-17 23:01] yurydelendik commented on #191
It's might be possible. We need to find a person who will be responsible for its support. (In case of AssemblyScript, @dcodeIO is helping us)

@cztomsik will you be the best person to assume this responsibility?

[2018-04-17 23:27] dcodeIO commented on #191
Just as a side-note: I am wondering a bit about the "TypeScript, that is JavaScript with types, isn't as close to JavaScript as X, that is also JavaScript with types", because, well, adhering to the ECMAScript spec while adding types is *exactly* the definition of TypeScript - or did I miss something?

[2018-04-18 10:06] grigorijmarkelov opened #196 "Type Error: Network Errror when attempting to fetch resource"
Hello.It may be a noob question but when I download example projects (e.g. greeting or console.log) and unpack then it gives me error in dev.console while opening html file in firefox, version 59.When clicking

 mdn page opens []https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Cant_define_property_object_not_extensible

It relates with fetch call, surely.But in the past whe

[2018-04-18 11:56] dcodeIO commented on #191
Thanks for the clarification. Perhaps I'll still have to get used to the competition aspects that lead us here.

[2018-04-18 12:09] yurydelendik commented on #196
Please provide exact steps to reproduce the issue and share the complete example.

[2018-04-18 12:13] yurydelendik commented on #142
Fixed by #195

[2018-04-18 12:13] #142 closed

[2018-04-18 12:47] yurydelendik commented on #196
It does not look like it is a valid issue for webassembly.studio -- supporting a web server is out of scope of this project. Closing as such.

Please follow https://github.com/WebAssembly/design/issues/1202 to get more answers.

[2018-04-18 12:47] #196 closed

[2018-04-18 15:25] yurydelendik commented on #187
Looking for contributor to help with C# support in webassembly.studio

[2018-04-18 15:26] yurydelendik commented on #186
Closing as incomplete

[2018-04-18 15:26] #186 closed

[2018-04-18 15:29] #185 closed

[2018-04-18 15:29] yurydelendik commented on #185
Thank you for the fix.

[2018-04-18 15:42] yurydelendik commented on #75
https://www.youtube.com/watch?v=2AQWR7Ly7EE was published

[2018-04-18 23:11] fitzgen opened #197 "Integrate twiggy (code size profiler for wasm) into WebAssembly Studio"
General info about `twiggy`: https://github.com/rustwasm/twiggy

Information on using `twiggy` on the web via wasm: https://github.com/rustwasm/twiggy#-on-the-web-with-webassembly

cc @mbebenita @yurydelendik

[2018-04-18 23:25] mbebenita commented on #197
Great, I think this is enough to get me started.

[2018-04-18 23:29] mbebenita commented on #191
@ballercat we're very receptive to the idea. The goal of WebAssembly.Studio is to create a platform where we cultivate as many ideas around how to produce and consume .wasm as possible.

[2018-04-18 23:45] yurydelendik commented on #99
Fixed by #179

[2018-04-18 23:45] #99 closed

[2018-04-20 05:24] mbebenita commented on #197
Partially implemented in #200

[2018-04-20 16:28] fitzgen commented on #163
Note: svelte was renamed to twiggy, and some initial integration has landed: https://github.com/wasdk/WebAssemblyStudio/pull/200

[2018-04-20 18:38] MaxGraey opened #201 "Update libwabt and binaryen which pretty old."
Plz update existing `libwabt` and `binaryen` for latest versions
- libwabt.js   (3 month old)
- binaryen.js (2 month old)

[2018-04-23 23:29] yurydelendik commented on #201
Fixed by #202

[2018-04-23 23:29] #201 closed

[2018-04-24 18:07] haxxorsid commented on #197
Related #145

[2018-04-24 21:20] vonwenckstern opened #205 "[Question] Add New Language to WebAssemblyStudio"
Hi,

your tool is very nice.
Our SE chair has a Simulink alternative language (EmbeddedMontiArc) which also compiles via Emscripten to WebAssembly.

We have some demo sites about WebAssembly files we created with our tooling:
1) https://demo.embeddedmontiarc.com/selfdrivingcar/simulatorWithTrajectory.html
  (or without trajectory: https://demo.embeddedmontiarc.com/selfdrivingcar/)
2) https://embed

[2018-04-24 23:29] yurydelendik commented on #205
@vonwenckstern see similar thread at https://github.com/wasdk/WebAssemblyStudio/issues/191#issuecomment-382184110

[2018-04-25 16:31] brodybits commented on #205
(walt support)

and couple more:
- <https://github.com/MichaReiser/speedy.js> (supported by Assembleash)
- <https://github.com/aspnet/Blazor> (support C#/Razor/.NET)

What about some kind of plugin or language extension API, like what they use on the Atom editor or VS Code?

P.S. A couple more resources that may be interesting:
- <https://github.com/Microsoft/TypeScript/issues/9202> - discussion o

[2018-04-25 16:39] vonwenckstern commented on #205
That would be really nice, than also others could use your existing tooling here.

[2018-04-29 20:36] abitrolly commented on #189
Even getting things from `master` is nice to have. See https://github.com/creationix/js-git for a possible solution.

[2018-04-29 23:52] mistermarko opened #207 "Can't type in Rust code"
I'm trying to start a Rust project. The editor has "Empty Rust Project" pre-displayed in the edit window and I can't delete it or write over it or do anything to actually type code (I'm using Chromium browser). What's going on here?

[2018-04-30 00:44] #207 closed

[2018-04-30 21:28] mbebenita commented on #205
@vonwenckstern we're definitely open to adding more languages, however we don't really want to support too many backend services as part of this project. If you provide the API endpoints you can just have WebAssemblyStudio send the project there and get back the compiled `.wasm` file.

[2018-05-01 09:01] vonwenckstern commented on #205
@mbebenita Thanks, we are writing right now a server which compiles our language to WASM and JS and send the result back to our client as zip file.

If you can tell us what kind of API endpoints you want, then we program our server so that it has exactly the endpoints of WebAssembly frontend.

[2018-05-01 13:11] yurydelendik commented on #205
We did not have a standard for endpoints yet and trying to document that atm. You may look into something along the lines of https://github.com/yurydelendik/clang-heroku-slug/blob/master/app/src/build.js#L11 or something even more simpler.

[2018-05-03 10:50] tschneidereit opened #212 "Support multiple source files for Rust"
It'd be very nice to be able to split Rust projects into multiple files. Right now that's not possible because the compiler invocation is hard-coded to pass in a single source file, but it seems like it shouldn't be hard to change that to use a list of files.

cc @alexcrichton, @yurydelendik

[2018-05-06 10:54] layderv commented on #193
Adding an `<a href target="_blank">` element (with a style such as `color: inherit`) works properly.
I've tried to pass the event to `onClick` and switch behavior on a middle mouse click, but I haven't managed to make it work yet.

[2018-05-14 06:14] garvitdelhi commented on #158
@mbebenita can you review this?

[2018-05-16 17:54] ollelauribostrom opened #220 "Multiple Monaco editor dependencies"
There are currently two Monaco Editor dependencies. One is located in lib/monaco-editor and one is listed in package.json. These two are identical when it comes to the versions, so we could try to remove one of them.

In my opinion it would probably be easiest to manage the Monaco Editor dependency if sticking to the one installed from npm. To do this, Webpack must be configured to load the editor

[2018-05-16 17:56] yurydelendik commented on #220
@mbebenita mentioned that he did some cosmetic modifications to the files

[2018-05-17 11:50] ollelauribostrom commented on #220
I've experimented a bit with this in #221. Looks like it could be doable since the Monaco Editor distributed at npm now includes the components TreeView, ContextMenuService, ContextViewService, TreeDefaults and Action that are used in monaco-utils.ts.

[2018-05-18 12:35] #190 closed

[2018-05-18 19:06] mbebenita commented on #220
Great, then it's definitely the right way to go.

[2018-05-22 12:00] #193 closed

[2018-05-23 22:07] mbebenita opened #233 "select keyword is missing from .wat language"
Add it to:  https://github.com/wasdk/WebAssemblyStudio/blob/master/src/languages/wat.ts

[2018-05-24 12:05] yurydelendik commented on #220
Closed by #221

[2018-05-24 12:05] #220 closed

[2018-05-29 08:29] linclark opened #237 "Rename "Publish" to "Preview" in JSConf EU embedding"
@ashleygwilliams pointed out that the wording "Publish" is confusing here. Can we rename this to "Preview"?

/cc @tschneidereit

[2018-05-29 09:16] #237 closed

[2018-05-30 23:22] leewz opened #245 "Extension verifier doesn't check for dot. (minor issue)"
For example, the Studio accepts "adhoc" as having a valid C extension, because it ends with a "c". Strangely, the C file will be created as "adhoc.c", making the check unnecessary. [This is because it's a simple suffix check.](https://github.com/wasdk/WebAssemblyStudio/search?q=%22file+extension+is+missing%22&unscoped_q=%22file+extension+is+missing%22) ("adhoc.cppc" will also be created as "adhoc.

[2018-05-30 23:49] leewz opened #246 "WAS sometimes tries to pop an empty stack during validation."
When I try "Build & Run" for [this project](https://webassembly.studio/?f=bi7eyxp8bt), I get errors in the Javascript console.

Firefox:

Chrome:

[2018-05-31 03:42] leewz commented on #246
@yurydelendik This is not an error that showed up within WebAssembly Studio, but an error that went all the way to the browser's Javascript console. The error came from WebAssembly Studio's code.

Within WebAssembly Studio, when Build & Run is pressed, there is no error message or output.

[2018-05-31 13:08] yurydelendik commented on #246
I still don't understand what is the expected behavior. The description of the issue contains only statement, which looks good to me.

[2018-05-31 14:06] leewz commented on #246
Within WebAssembly Studio, there is an error caused by the above project
which propagates an exception all the way to the top of the Javascript
layer. It happens in two browsers. The exception shows up in the browser's
Javascript console, not on the page itself.

I don't know enough about WebAssembly Studio to know what the intended
behavior is here.

On Thu, May 31, 2018, 09:08 Yury Delendik <not

[2018-05-31 14:23] ashleygwilliams opened #250 "modularize rust arc template"
it would be great to break the rust template into several files in order to hide much of the boilerplate from the participant.

[2018-06-01 13:30] ashleygwilliams opened #256 "ignore .swp files"
<img width="320" alt="screen shot 2018-06-01 at 3 30 12 pm" src="https://user-images.githubusercontent.com/1163554/40843293-c310ef50-65b0-11e8-809d-eba1eec953fb.png">

[2018-06-01 13:58] #250 closed

[2018-06-01 17:40] skade opened #260 "Embed: Build & Preview runs Preview when build fails when WASM is present"
Steps to reproduce:
* Open a new Rust project
* Build & Preview
* Introduce an Error into the Rust sourcecode (e.g. delete a bracket)
* Build & Preview

The Preview will open with the previous iteration.

[2018-06-01 17:44] skade opened #261 "Embed: Reloading gives no access to old code"
Reloading the embedded version, WebAssembly Studio reloads with a fresh edition code.

This confused a couple of people here at CSSConf. It would be good if we had a saving feature similar to the main webassembly.studio.

[2018-06-01 17:46] skade opened #262 "Embed: Successful build outputs nothing"
Just a nit, but a successful build outputs nothing in the console, which confused people.

[2018-06-01 17:50] skade opened #263 "Embed: add some documentation"
I don't now if this is the right place to document it, but people have already asked how to call browser functions (especially `random()`). Maybe we can update the template with more examples?

[2018-06-02 04:43] leewz commented on #246
Here's an image of what I see after I click "Run".
![wasm studio stack error 440](https://user-images.githubusercontent.com/6633759/40870457-33ae62c4-661f-11e8-8780-9591010981a1.png)

Within the IDE itself, there is no output except a green box. No error message. The error is occurring inside the IDE's code, not my project's code, and nothing catches it. It looks like a bug to me.

[2018-06-02 11:08] ashleygwilliams commented on #263
closed by #269

[2018-06-02 12:49] yurydelendik commented on #246
So you are expecting WebAssembly Studio to show this error in IDE. Can you modify issue description and title to reflect it? As stated, the issue is not actionable.

[2018-06-02 15:35] leewz commented on #246
It should not show the **stack** error in the IDE. It should show the problem in my code that caused the error, or show an error during Build instead of Run, or not show an error at all.

The Build was successful, but the Run caused a Javascript error. This suggests two possible problems:
1. The Build generated invalid WASM.
2. The validation check during Run is wrong.

If my code is wrong, the Bu

[2018-06-04 09:40] ollelauribostrom commented on #184
Gave kiwi.js a try this weekend. For the most part, the API is the same but there are some differences which made me fail in swapping out this dependency.

I could not find any kiwi.js equivalence for:
* solver.addStay(...)
* Cassowary.Equation(..)
* Cassowary.Inequality(..)

However, i'm not too familiar with the solving algorithm. Does @mbebenita know if there are any way around those difference

[2018-06-04 12:00] ollelauribostrom opened #279 "Health monitoring"
We need a way to monitor the health of WebAssembly Studio and the compiler micro services.

Since all of the backend services are hosted at Heroku, there might be some suitable [add-on](https://elements.heroku.com/addons) that could help us monitor uptime / send notifications when something breaks / restart dynos when needed?

Another idea could be to monitor errors caught in the front end using s

[2018-06-05 02:47] brennie opened #283 "Error: Should not be in a dragging state"
I dragged the pane between the console output and rendered output after I clicked "build and run" and triggered a fatal error:

[code]

[2018-06-05 10:58] ollelauribostrom opened #286 "Handle file collisions on upload"
When uploading a file/directory with an already existing name, an error is currently thrown (at Project.addFile). This collision needs to be handled (starting point in the [App Component](https://github.com/wasdk/WebAssemblyStudio/blob/1c3104cf4c781a3480360f0e2239241a61b11bb5/src/components/App.tsx#L684)).

Somewhat related to #172 where its mentioned that it could be a good idea to rename dragged

[2018-06-05 15:04] yurydelendik opened #288 "Don't expose all actions in upload file/dir dialog"
Currently, the upload file and directory dialog uses standard content menu:

<img width="472" alt="screen shot 2018-06-05 at 10 02 00 am" src="https://user-images.githubusercontent.com/1523410/40984486-a367f6cc-68a7-11e8-9f33-c4e4a45825ad.png">

IMHO, it is not expected to have *all* actions in this content menu. The "rename", "delete" might be just enough for this functionality

[2018-06-05 23:43] yurydelendik commented on #246
Catching errors during Promise execution falls on shoulders of users -- add e.g. `.catch(console.error)` at the end of the chain:

[code]

Currently there is no way it can be done from a web application. I added similar logging to all examples at 53c5107010882ec06d864f9efdc39d667a1733b3.

Closing as won't fix.

[2018-06-05 23:43] #246 closed

[2018-06-06 09:43] ollelauribostrom opened #291 "Directory receives icon from file"
Directory receives icon from file when being dragged around.

![skarmavbild 2018-06-06 kl 11 38 16 2](https://user-images.githubusercontent.com/16004130/41030453-a94a358c-697e-11e8-83a3-eb255cea7958.png)

Steps to reproduce:
- Create empty C project
- Create a new directory
- Drag package.json into src
- Drag package.json into your new directory
- Drag your new directory into src
- Drag your new d

[2018-06-06 13:12] #91 closed

[2018-06-13 18:48] kattkieru opened #298 "support for C headers"
Hi there,

Perhaps I've missed it, but it seems as if there's no way to add a header (.h, .hpp) file to the project.  It would be great to have that functionality added.

Thanks!

[2018-06-13 18:53] yurydelendik commented on #298
Currently the service allows to do that, see https://github.com/yurydelendik/clang-heroku-slug/blob/master/app/src/build.js#L11. We need to implement [ClangService](https://github.com/wasdk/WebAssemblyStudio/blob/2101a6da88e5297275b2cf7d8180690a0f6b7bef/src/compilerServices/clangService.ts) to send all files there.

[2018-06-13 19:41] ollelauribostrom opened #301 "Empty context menu in the Problems view"
I am getting an empty context menu in the Problems view. It looks like this:

<img width="636" alt="empty-context" src="https://user-images.githubusercontent.com/16004130/41373904-efa4913e-6f51-11e8-99b0-33f44d761819.png">

Steps to reproduce:
- Create empty C project
- Change the return in main.c from 42 to a string
- Save & Run build
- Open the Problems view
- Right click to open the context men

[2018-06-14 09:48] ollelauribostrom commented on #283
Clicking "build & run" triggers the componentWillReceiveProps on the Split component which in turn calls the the setup solver. If you are at this point in a dragging state (this.index > -1) the assert [here](https://github.com/wasdk/WebAssemblyStudio/blob/67392184d1fcbd3210554256bc8ecee397f0b49c/src/components/Split.tsx#L167) will fire. A possible workaround could be to forcefully abort any ongoin

[2018-06-15 17:53] #291 closed

[2018-06-19 16:45] #288 closed

[2018-06-19 19:49] ollelauribostrom commented on #301
This also happens in the upload file/dir dialog

[2018-06-20 23:29] #279 closed

[2018-06-20 23:31] #283 closed

[2018-06-25 22:20] #131 closed

[2018-07-05 17:16] ollelauribostrom opened #333 "File/directory upload via regular input not working"
Regular file/directory upload has stopped working since #311.

### Possible fix
The onChange handler [here](https://github.com/wasdk/WebAssemblyStudio/blob/ef9c8ed421e82dbd765473a8d3aebd46d68dc1a1/src/components/UploadFileDialog.tsx#L92) needs to be changed back to `this.handleUpload(e.target.files);` and the `uploadFilesToDirectory` utility function needs to be updated to handle both DataTransfer

[2018-07-05 23:02] #301 closed

[2018-07-09 13:01] d07RiV opened #335 "Each build creates a new WASM file"
I think this only started happening recently - every time the code is built, a new file (named `main.3.wasm`, `main.4.wasm`, etc) is created. This means we have to update `.js` every time to use the correct file, which gets pretty annoying.

[2018-07-09 13:22] #335 closed

[2018-07-09 13:23] yurydelendik commented on #286
Re-opening.. looks like we regressed some functionality at #335

[2018-07-20 14:33] MaxGraey opened #343 "[Proposal] Refactor file tree's context menu to use pure React"
Main disadvantage which I see with current approach is monaco's ui is quite complicated, limited and haven't proper documentation. Can also break compatibility in future.

Related to #228

[2018-07-21 21:24] d07RiV opened #344 "No error output"
When building cpp files, I often get "Error during build of file.cpp", but no errors are highlighted and nothing else is being output. How are we supposed to find and correct mistakes like this?

[2018-07-22 17:04] d07RiV opened #345 "Horizontal scrollbar unusable"
If the code is too wide (mostly in WASM disassembly), the horizontal scroll bar shows up as a narrow stripe, but it can't be used because it is overlaid by the resize handle for output window.

[2018-07-24 10:33] ollelauribostrom opened #348 "[Discussion] E2E tests"
As a result of my GSoC project this summer, test coverage is about to reach acceptable levels. To further improve the testing of WebAssembly Studio I would like to bring up the potential need of some E2E tests for some key functionality (like building/running etc).

This would help verify that key functionality is working as expected, which individual unit tests or component integration tests migh

[2018-07-24 13:15] yurydelendik opened #349 "Error: i.DOMFocus is not a function"
https://sentry.io/webassembly-studio/webassembly-studio/issues/586397632/

[code]

[2018-07-24 13:16] yurydelendik opened #350 "Error: Non-Error exception captured with keys: message"
https://sentry.io/webassembly-studio/webassembly-studio/issues/586289329/

[code]

[2018-07-24 13:19] yurydelendik opened #351 "TypeError: Failed to fetch"
https://sentry.io/webassembly-studio/webassembly-studio/issues/586192533/

[code]

[2018-07-24 16:46] yurydelendik commented on #349
https://github.com/wasdk/WebAssemblyStudio/blob/master/src/monaco-controller.ts#L41

[2018-07-24 17:13] yurydelendik commented on #350
https://sentry.io/share/issue/3a9ee90e9bdf470a92f9ad46e1a81fb8/

[2018-07-24 17:13] yurydelendik commented on #351
https://sentry.io/share/issue/55f18d8ebfa44c89bd8377320f336982/

[2018-07-24 17:14] yurydelendik commented on #349
https://sentry.io/share/issue/2e300d0bcd034d88b0c51e9bea363e5f/

[2018-07-30 12:18] ollelauribostrom commented on #351
This happens when the user tries to run a project before building it. Trying to fetch the out/main.wasm file to run returns a 404 which then leads to
- [AsyncCompile: Wasm decoding failed: expected magic word 00 61 73 6d, found 3c 21 44 4f @+0](https://sentry.io/share/issue/90944166881a4401b8ab48201d56d36e/)
or
- [Failed to execute 'compile' on 'WebAssembly': Incorrect response MIME type. Expected

[2018-08-01 11:20] ollelauribostrom opened #354 "Error: Loading chunk # failed"
Sentry is picking up errors about failing to load chunks. This might be related to when rolling out new builds as discussed in webpack/webpack#7502

- [The most frequent Sentry issue](https://sentry.io/share/issue/6b2c8043708e49a59bfabecb79736578/)

[2018-08-02 20:00] iFlameing commented on #351
Hi,I worked on disabling the Run button before a wasm file .I disabled it but when I run the test I encountered with error 3 snapshots test failed(should render correctly (embedded)).What should I do know.

[2018-08-03 00:31] ollelauribostrom commented on #351
@iFlameing Seems likely that your changes might break a few tests. Open a pull request and I'll have a look!

[2018-08-06 09:37] ollelauribostrom commented on #351
The reason why this happens for the fiddles linked above is because they don't catch/handle errors thrown when fetching the wasm file from main.html/main.js. These Sentry issues can therefore be ignored/resolved since nothing is wrong with WebAssembly Studio.

However, I still propose we improve the error messages when this happens. In my opinion it would be much more clear what has gone wrong if

[2018-08-11 16:57] iFlameing commented on #354
can you explain this issue I didn't understand.

[2018-08-12 16:25] iFlameing commented on #298
@yurydelendik  How I can fetch the header file with the extension .h and .hpp and send to compilerservice because right now we can only fetch .c and .cpp and the other extension not .h or .hpp extension and how I can attach the main.c and the header file , can you elaborate please!.

[2018-08-13 11:13] LiberTang0 opened #359 "Python 3 support"
Python 3 support

[2018-08-13 14:13] yurydelendik commented on #298
@iFlameing the .h/.hpp shall be sent to the service in the same way as .c/.cpp. If wasm-studio does not support .h extension -- we shall add it. We may want to mark these with different type, rather than  C or CPP, so they will not be included in clang arguments.

[2018-08-13 14:55] yurydelendik commented on #359
Can you clarify how it will be useful? Personally, I don't see how it can fit in the project [vision](https://github.com/wasdk/WebAssemblyStudio/wiki#vision).

[2018-08-14 07:42] LiberTang0 commented on #359
The vision:
Learn & Teach: Python is one of the most used languages to learn and teach programming (MIT, Stanford..etc.)

Work & Play: Python is one the most used language for web development (Django/Flask/Odoo)

And I think that Python will drive user adoption of WebAssemblyStudio.

[2018-08-14 09:29] blackhole12 opened #360 "Fails to warn about malformed WAT"
While I was testing my own webassembly compiler against the [official interpreter tests](https://github.com/WebAssembly/spec/tree/b3de271e8da3f8aa29a9ea3455665f88b1a4c3d2/test/core), I was trying to verify the results against webassembly.studio, but accidentally discovered that the compiler fails part of `call_indirect.wast`. Namely, it is not verifying that the inline type declarations match the

[2018-08-14 13:39] yurydelendik commented on #359
WebAssembly Studio is created with purpose of adopting WebAssembly and not other way around. Evolving WebAssembly Studio as a product is not a primary goal here. We may consider adding compiled to WebAssembly Python library, just to study interoperability between JS/Wasm/Python.

Closing as out of scope. You are welcome to fork the project and tweak the vision towards Python driving adoption of We

[2018-08-14 13:39] #359 closed

[2018-08-15 11:38] iFlameing commented on #298
if we send the .h/.hpp file same way then we have to define a new clang service because createCompilerService does not support the h/hpp file . I try your approach of sending the header.h file as same as c/cpp but it gives me error "[error]: createCompilerService: not supported h->wasm".
How I can remove this error.

[2018-08-23 18:11] jtiscione opened #362 "No way to save or share projects"
The "share" button is usually disabled for some mysterious reason, which isn't explained anywhere. I did manage to see it enabled once. I have absolutely no idea what I did that enabled it.
(UPDATE: Duh, I figured out why it was disabled by looking at the source. It would be better if it stayed enabled and showed a "fork the project before sharing" error dialog, because having to fork it first is

[2018-08-24 17:26] void4 opened #363 "C compiler as standalone js"
I want to add a simple C to .wasm compiler to a website and let users write simple programs.

How can I build a standalone .js that I can include with a <script> tag and use from Javascript?

Ideally, something like
[code]

*Edit:* I think I misunderstood the webassembly.studio architecture. Files seem to be compiled natively, and not on the web, right?

*Edit2:* I should have read the full README

[2018-08-24 17:30] #363 closed

[2018-08-27 02:49] jtiscione opened #364 "Site crashes browser"
Finished editing and saving files after a lot of work, clicked on the wasm file, and my browser locked up. Had to kill the browser process. All work gone.

[2018-08-27 03:02] #364 closed

[2018-08-27 15:07] #362 closed

[2018-09-06 13:34] Rupeshiya commented on #233
@mbebenita ,I can't get you, In the keyword section of https://github.com/wasdk/WebAssemblyStudio/blob/master/src/languages/wat.ts ,''select'' keyword should be added ??

[2018-09-06 13:36] Rupeshiya commented on #245
@leewz So instead of returning error message ,It is expected to return 'filename.c' ??

[2018-09-06 13:39] Rupeshiya commented on #75
@mbebenita  Whats the status of this issue ??

[2018-10-02 10:12] andys8 opened #371 "Can't compile or execute the AssemblyScript example project"
I'm documenting my experience as a novice to the project. Could be a simple mistake, or that the project is not supported, or something else leads to a dependency not being loaded.

#### Issue

Opening <https://webassembly.studio> and creating a new `AssemblyScript` project will lead to an error in the console.

![image](https://user-images.githubusercontent.com/13085980/46342754-dd1f8280-c63b-11e

[2018-10-02 11:19] iFlameing commented on #371
@andys8  I  also open the webassembly studio and create empty assembly project but I don't get any error can you explain what you are doing  or how I reproduce this issue in my machine.

[2018-10-14 03:16] ishitatsuyuki opened #379 "RawGit is sunsetting"
RawGit is now in a sunset phase and will soon shut down. [Read the blog post.](https://rawgit.com)

There are multiple occurrences where we load wabt/binaryen from RawGit. We should depend on a nightly build instead, either loaded from unpkg or simply lazy-loaded with webpack.

[2018-10-14 16:27] ashleygwilliams opened #381 "clarify maintenance status of this project"
cc @tschneidereit @yurydelendik we should make it clear that this project is not actively maintained. i have some ideas but was curious to see what ya'll think first.

[2018-10-14 16:28] ashleygwilliams commented on #212
this works now. closing.

[2018-10-14 16:28] #212 closed

[2018-10-18 05:35] pandadelphin commented on #212
Hello @ashleygwilliams, when will this be deployed to https://webassembly.studio. At the moment I receive the following error '[error]: Supporting compilation of a single file, but 3 file(s) found' in console output if I try to compile multiple files.
Here is my build.ts:
[code]

[2018-10-18 23:10] MaxGraey commented on #360
You should address this issue to [`wabt` project](https://github.com/WebAssembly/wabt).

[2018-10-23 19:45] #371 closed

[2018-10-23 19:48] #262 closed

[2018-10-23 19:48] #156 closed

[2018-10-24 15:30] #381 closed

[2018-10-24 15:32] yurydelendik commented on #381
We cannot say we actively maintaining project, though "maintained | seldom" label will be a good reflection of what is going on.

[2018-10-24 19:29] #379 closed

[2018-10-24 19:33] #350 closed

[2018-10-24 22:37] yurydelendik commented on #354
Looks like it somewhat related to caching and has some correlation with time when we deploy new gh-pages.

[2018-10-24 22:38] yurydelendik commented on #349
Fixed by 04ccbed22fb71255d8e12c1f44eff1652bad5971

[2018-10-24 22:38] #349 closed

[2018-10-24 22:39] yurydelendik commented on #344
Closed by #382

[2018-10-24 22:39] #344 closed

[2018-10-24 22:41] yurydelendik commented on #194
Closing as fixed.

[2018-10-24 22:41] #194 closed

[2018-10-25 19:09] blackhole12 commented on #360
Closing and moving to appropriate project

[2018-10-25 19:09] #360 closed

[2018-11-01 19:53] leewz commented on #246
For whatever reason, the project now builds and runs without error. I don't believe I made any changes to it, so presumably whatever caused it was fixed.

[2018-11-20 20:10] styfle opened #389 "Terrarium: Looks like fastly is using webassembly studio"
Fastly just announced "Terrarium" which looks like webassembly studio

See https://wasm.fastlylabs.com/

[2018-11-20 20:29] styfle commented on #389
It looks like they gave proper credit

![image](https://user-images.githubusercontent.com/229881/48800898-0aea8480-ecd9-11e8-8875-1577f2ec0262.png)

[2018-11-22 21:09] jpryne opened #390 "Save Button Location"
This is really just a matter of UI user-friendliness:

The "Save"-button is in a very odd location. Where is it on *every* other application? Upper-left, of course!

In fact, there should probably be a little disk icon which is green (or gray) when the (currently focused) file is unchanged, yet red (or white) when code has been changed. Better yet if there's also an icon/button for "Save All".

![

[2018-11-24 14:30] derpmarine168 opened #391 "Context menu has scrollbars on Firefox (windows)"
when you right click to create a context menu in Firefox on windows, there are scrollbars down the side.
![image](https://user-images.githubusercontent.com/28905212/48969311-f833c080-eff4-11e8-8578-59d80badb9be.png)

[2018-11-28 13:13] willemneal opened #392 "Decompiling AssemblyScript"
I've been working on the [AssemblyScript decompiler](https://github.com/AssemblyScript/assemblyscript/pull/346) and was wondering how hard it would be to add an option when disassembling the WebAssembly binary.  It's not nearly camera ready, but just thought I'd reach out now.

[2018-11-28 14:39] yurydelendik commented on #392
Sounds like a awesome idea. It is out of scope of this project though, and I don't think it will make sense to track this in the WebAssembly studio repo yet. Once the decompiler will be released, you can follow up with the integration PR.

cc @dcodeIO

[2018-11-28 14:44] willemneal commented on #392
Thanks for the reply!  I’ll return when it’s released.

[2018-11-29 11:02] LoganDark opened #393 "C++ support"
C++ support is advertised, however there are no issues/pull requests about it, there is no 'empty' project in the app itself, and there is no documentation regarding it anywhere.

What's going on? Is C++ actually supported, or are you just assuming it's the same as C?

[2018-11-29 13:33] yurydelendik commented on #393
C++ and C are using the same clang service. Minor changes will be required in the build.ts code of C 'empty' project. Having an 'empty' project for C++ may be useful.

[2018-11-29 13:34] LoganDark commented on #393
What changes would be required? Sorry, I'm not well-versed in this sort of thing.

[2018-11-29 17:49] yurydelendik commented on #393
file names

[2018-11-29 17:49] LoganDark commented on #393
That's it?

[2018-11-29 18:21] yurydelendik commented on #393
<img width="1020" alt="screen shot 2018-11-29 at 12 21 22 pm" src="https://user-images.githubusercontent.com/1523410/49242817-52f06200-f3d1-11e8-90a8-c6e591fa5886.png">

[2018-11-29 19:43] LoganDark commented on #393
Ty!

[2018-12-03 10:17] dominictarr opened #394 "where is the code for the compiler services?"
I've been trying to compile simple C programs to wasm. most of the instructions I'm finding recommend `emcc` which creates a hell of a lot of boilerplate, that I'd rather not have. I've recently been writing web assembly text format by hand, because I want to really understand how it works, and I was pleased to see that WA studio generates simple wasm, that aside from a couple of extra lines, I wo

[2018-12-03 18:13] willemneal opened #395 "[Feature Request] Use sandboxes in WebWorkers for Debugging"
[WebAssembly's thread's proposal](https://github.com/WebAssembly/threads) has been mostly implemented in chrome and firefox.  `wait/wake` instructions are still unavailable. This means that currently you can share an atomic memory between two web workers and use atomic memory instructions.  I have found it hard to debug the code your writing in webassembly.studio, particularly because the sandboxe

[2018-12-04 17:51] yurydelendik commented on #394
See https://github.com/wasdk/WebAssemblyStudio/wiki/Micro-services

Closing as answered.

[2018-12-04 17:51] #394 closed

[2018-12-05 06:15] AchalaSB opened #397 "Can we have Nim language to this?"

[2018-12-06 13:31] yurydelendik commented on #397
Closing as duplicate of #205

[2018-12-06 13:31] #397 closed

[2018-12-08 08:17] dominictarr commented on #394
thank you @yurydelendik !

[2018-12-13 16:36] mindplay-dk commented on #371
I'm seeing a different error - related? Looks like it can't find the file at all:

[code]

[2018-12-13 16:48] MaxGraey commented on #371
@mindplay-dk waiting PR which fixed this:
https://github.com/wasdk/WebAssemblyStudio/pull/396

[2018-12-14 09:20] LiaoPeng opened #398 "AssemblyScript project builds unsuccessfully"
The [example](https://webassembly.studio/?f=zktgii6715o)
When I build the project, I got the below hits.
[code]

I expected building successfully.

[2018-12-14 13:12] yurydelendik commented on #398
Probably fixed by #396

[2018-12-14 13:12] #398 closed

[2018-12-17 10:09] rabbitHX commented on #393
@yurydelendik Hi, only single c(c++) file compile is workable now, how to compile project with header files?  I read source code of clang-heroku-slug and WebAssemblyStudio but didn't find support for header file.

[2018-12-17 14:53] yurydelendik commented on #393
The "headers" work is done at #365

[2018-12-17 14:57] yurydelendik commented on #393
copy-paste of what? what's a separate fix?

[2018-12-17 15:36] LoganDark commented on #393
`#include "filename"` is replaced by the preprocessor with the contents of `filename`

the separate fix that I don't know why you need is #365, which supposedly makes `#include`s work

[2018-12-17 17:52] yurydelendik commented on #393
Not that simple: #include works in combination with #ifdef to stop recursions. Also, the proposed copy'n'paste hack does not provide debug information: original file line numbers.

@LoganDark In the future we also need to support "inclusion" of custom libraries (headers files + wasm objects/libs), so #365 will be needed.

[2019-01-04 06:23] samghelms opened #399 "Remove MonacoUtils.expandTree(this.tree) call"
This call is causing all folders to be expanded whenever a user clicks the text they are editing or another file/folder, which is very annoying. The Monaco component can handle its own expanded/hidden state without this line.

https://github.com/wasdk/WebAssemblyStudio/blob/fbf7d4ef5e09b2798caf5137081ff21bcd184aa1/src/components/DirectoryTree.tsx#L90

[2019-01-24 04:08] Ace-Bansal commented on #399
I'd like to work on this issue @samghelms @yurydelendik

[2019-01-24 14:37] AnshulMalik commented on #399
Please go ahead @Ace-Bansal

[2019-01-24 15:03] jeff1010322 opened #400 "Corrupted base64 encoding"
The padding for base64 encoding is adding one too many equal signs when the byte remainder is 1.

https://github.com/wasdk/WebAssemblyStudio/blob/fbf7d4ef5e09b2798caf5137081ff21bcd184aa1/src/util.ts#L135

This is based on a gist that correctly appends 2 equal signs:

https://gist.github.com/jonleighton/958841#file-base64arraybuffer-js-L53

[2019-01-29 11:08] MaxGraey opened #403 "Site is down"
It seems SSL certificate or domain expired

[2019-01-29 14:55] Galaxtone commented on #403
Are there any mirror sites to use for the time being? (or even directly accessing the official site using an IP address)

[2019-01-29 17:52] yurydelendik commented on #403
New SSL certificate shall be up.

[2019-01-29 17:52] #403 closed

[2019-01-29 18:08] MaxGraey commented on #403
Thanks!

[2019-01-29 18:56] Galaxtone commented on #403
Thank you, kind bearded man.

[2019-01-29 22:42] richardanaya opened #405 "CORS issue on main site"
Affects Chrome OS, Chromium on Linux

![screenshot 2019-01-29 at 2 41 13 pm](https://user-images.githubusercontent.com/294042/51945599-0676d200-23d4-11e9-9bd8-f91cfbf6c0ad.png)

[2019-01-30 15:55] MaxGraey commented on #405
Should be fix for now

[2019-01-30 18:12] yurydelendik commented on #405
Fixed by 0821d78

[2019-01-30 18:12] #405 closed

[2019-01-30 18:16] yurydelendik commented on #400
Closed by #401

[2019-01-30 18:16] #400 closed

[2019-02-15 13:47] olso opened #408 "I'd like to add Golang support"
Any ongoing effort or I'm free to do it?

[2019-03-08 11:16] maudnals opened #410 "Add an option to display the wasm binary"
At the moment, wasm code is displayed in its `.wat` format, which is best.

However, having the option to look at the binary format might be interesting especially for newcomers, to understand how wasm has different formats suited for different purposes.

It's probably something a user would do just once or twice.

I think of this feature as slightly similar to the "un-prettify" button in dev tool

[2019-03-15 06:20] 285858315 opened #411 "How to change theme？"

[2019-04-01 05:24] ColinEberhardt opened #412 "Auto-save when building project"
As noted in #390 the button for saving the current file is not obvious, as a result I quite often hit <kbd>build</kbd> or <kbd>build & run</kbd> without saving and am momentarily confused by the result.

I'd suggest that before building, all open files are automatically saved. I can't see any reason why you wouldn't want to save them in this instance!

[2019-04-04 18:24] mreinstein commented on #184
You could submit improvements to kiwi.js directly :) My impression is the maintainer is approachable and reasonable from my limited interactions.

[2019-04-09 01:10] michaelizergit opened #413 "Logo proposal"
Greetings, @wasdk

I am a designer in development and an open source enthusiast who would love to contribute to your project by designing a logo for it. I found your project exploring GitHub and found it interesting. About the process, we would be working together to create a logo that fits best with your project. The process is, of course, totally free and you can quit whenever you want. In case

[2019-04-10 22:48] jegijsje opened #414 "How to make the downloaded projects work similar in Visual Studio Code"
Hi,

I've been playing around with Web Assembly Studio and I really like it. What I don't like is that I can't save my projects, when I reload my project is gone and I can start over.

Now since this project is based on Visual Studio code I figured I could get easy integration into Visual Studio Code running natively on my desktop. This did work pretty easily, I downloaded the project I made in We

[2019-04-24 21:43] zhuowei opened #415 "Support for creating WASI projects"
Will there be support for building WebAssembly projects that use the [WASI sdk](https://wasi.dev)?

WASI is a new effort to create a standard set of syscalls for WebAssembly code, so the same wasm file can run in different WebAssembly environments.

A WASI intro project seems like a good follow up project to the existing "hello world in C" project. That project has the user create their own syscal

[2019-04-29 15:13] yurydelendik commented on #415
Yes, there are plans to move clang compiler service to wasi-sdk.

The https://github.com/wasdk/WebAssemblyStudio/wiki/Micro-services#clang-compiler-service needs to be updated and examples added. Yes, and help will be welcome.

[2019-05-25 16:18] trusktr opened #416 "Cannot find name 'i32'."
<img width="415" alt="Screen Shot 2019-05-25 at 11 17 43 AM" src="https://user-images.githubusercontent.com/297678/58372113-be2d7380-7ede-11e9-8216-10b38f2f6afb.png">

Is it possible to make that work?

[2019-05-26 14:56] chooaya opened #417 "I try to build the download project,follow the document,and build error appeared.what's wrong with this?"
The flow is:
1. git clone https://github.com/wasdk/WebAssemblyStudio
2. cd .\WebAssemblyStudio\
3. npm install
4.npm run build-watch
then the 4 will stop and display some error info.like this:
`ERROR in ./src/index.tsx 101:18
Module parse failed: Unexpected token (101:18)
You may need an appropriate loader to handle this file type.
|         }
|         if (environment !== "test") {

|         }
|

[2019-05-27 12:45] d-bardiau opened #418 "AssemblyScript default project can not be build"
If a new empty AssemblyScript project is created any attempt to build the project will fail:

[info]: Task build is running...
[error]: Task build failed: Module name "assemblyscript/bin/asc" has not been loaded yet for context: _. Use require([])
http://requirejs.org/docs/errors.html#notloaded

[2019-05-27 12:48] MaxGraey commented on #418
It's known issue. It will be repaired automatically from your side soon. Sorry for the inconvenience

[2019-05-28 03:22] SunnyPirate opened #419 "getFile function return null"
when I deploy webassebly stuidio locally, i found errors in my webbrowser console which list below
Uncaught (in promise) TypeError: Cannot read property 'name' of null
    at Function.compileFile (webpack-internal:///./src/service.ts:227)
    at Gulpy.eval (eval at contextify (webpack-internal:///./src/utils/taskRunner.ts), <anonymous>:47:65)
    at step (eval at contextify (webpack-internal:///./

[2019-05-28 19:10] d-bardiau commented on #418
Thank you for you answer. I'm looking forward to using WebAssembly Studio with AssemblyScript again.

[2019-05-28 19:10] #418 closed

[2019-06-13 20:55] mreinstein commented on #184
All 3 of the aforementioned bullets have equivalents in kiwi.js see https://github.com/IjzerenHein/kiwi.js/issues/17 for details on these.

Also, shameless plug, if you're looking for something a little higher level where you can specify a set of equations as a string, I wrote/maintain `constraint-solver` npm module, which layers on top of the latest kiwi.js: https://github.com/mreinstein/constrai

[2019-06-28 06:07] lastmjs opened #422 "Compile C,C++, Rust client-side"
Hopefully it's obvious why this would be amazing. I would love to see self-hosted versions of the compiler toolchains. Having Wasm versions of the toolchains would make them much easier to use, as they'd work with no extra setup in the browser, in Node, and anywhere else there is a Wasm virtual machine. I see some work on this is planned here: https://github.com/wasdk/WebAssemblyStudio/projects/3#

[2019-06-30 13:21] Korilakkuma opened #423 "Require `Authorization` for creating Gist"
Maybe, API specification is changed.

@see https://developer.github.com/v3/gists/#authentication

[2019-07-01 19:51] yurydelendik commented on #422
Related subset of llvm-project to be compiled to webassembly: clang, lld, etc.

clang and its dependencies (see wasi-sdk) and rustc

Nobody on our side evaluated this yet.

Closing as answered. (The people who has status updates may append comments)

[2019-07-01 19:51] #422 closed

[2019-08-20 17:53] inzaine1911 opened #426 "Cant figure QB out"
Error ID: null

[2019-08-20 18:03] yurydelendik commented on #426
closing as incomplete

[2019-08-20 18:03] #426 closed

[2019-09-03 07:33] carlsmith commented on #413
The current logo seems to fit in perfectly with the grander scheme of things...

![](https://2ality.com/2011/10/logo-js/js.jpg)

[2019-09-06 07:52] FiveTechSoft opened #427 "How to use several C files ?"
We can add new files, but how to build them and generate just one wasm file ?

thanks

[2019-09-06 09:49] stkevintan opened #428 "wasm file compiled from c++ is wrong"
https://webassembly.studio/?f=yt0jt76eey

[2019-09-06 09:55] MaxGraey commented on #428
You should use `WASM_EXPORT`
[code]

[2019-09-06 10:02] stkevintan commented on #428
@MaxGraey Thank you!

[2019-09-06 10:02] #428 closed

[2019-09-06 13:25] yurydelendik commented on #427
There is `Service.compileFiles`, but looks like, it does not implemented for C.

[2019-09-08 07:09] stkevintan opened #429 "question: dynamic memory in C++?"
Hi,I'm new to wasm
I write a simple quicksort C file which will allocate memory dynamicly use `new int[size]`, but first time I got a error of lack of `___syscall` .
then I implement the syscall function like the C examples, it passed the build. but the webpage will be stuck after I click the `Run` button .

https://webassembly.studio/?f=2um38ggmber

Is there any way to make it work ?

[2019-09-08 12:18] stkevintan commented on #429
sorry its my mistake

[2019-09-08 12:18] #429 closed

[2019-09-12 02:36] adamsoffer commented on #416
I'm running into this too in vscode.

[2019-09-12 21:46] carlsmith opened #431 "[Feature Request] Use Session Storage so code persists across refreshes."
When the tab is refreshed, everything is lost, which sucks in a few obvious ways.

A callback bound to `onbeforeunload` could quickly copy the details from each file to a hash, serialize it with JSON, and stash it to `sessionStorage`. Then, an onload handler would check `sessionStorage` and restore the important aspects of the previous state (or bring up the *New Project* dialog) when the new page

[2019-09-12 22:31] carlsmith opened #432 "Replace `<>` icon with a recognizable Markdown icon."
I used the Studio quite a few time before I realized how to edit a Markdown file. I wanted to edit them, but didn't see how, and just assumed they were placeholders that would be filled out with some kind of docs in the near future.

The current button is too easy to miss or misinterpret. The Studio seems to be using the Octicons icon set, which includes [a Markdown icon][1] in this style:

<img s

[2019-09-14 09:36] carlsmith opened #433 "[Feature Request] Add a button for killing the preview iframe"
When running demos in the Studio, there is no easy way to kill them while you do more work on the code. You can minimize the bottom pane, but it doesn't stop the demo running in the iframe still, which can be an issue when it's something intensive.

I currently just use *Select All* then *Comment Selection* to comment out everything in the JS file, then *Build & Run* again, but a quick way to repl

[2019-10-09 22:09] ibaryshnikov opened #434 "local.get is not supported in .wat"
[code]
such syntax is often used, for example in https://developer.mozilla.org/en-US/docs/WebAssembly/Understanding_the_text_format

[2019-11-09 04:13] carlsmith commented on #434
You have to use `get_local` (likewise `get_global`) as the Studio is unmaintained, and still uses an obsolete assembler. It's a shame. The Studio a useful tool for learning WAT (and other stuff).

[2019-11-09 04:17] carlsmith commented on #381
@yurydelendik - Do you know if the devs can still accept PRs?

The WAT tools are especially dated, using an obsolete version of the language (#434 etc).

[2019-11-11 15:25] yurydelendik commented on #381
Yeah, sorry, support somewhat stale for this project. I'm scanning for quality PRs, and those that are in useful and in good state, I'm merging.

Unfortunately this one might require more than the frontend update, e.g. service update (I did not look at it)

[2019-11-20 00:59] carlsmith commented on #381
Thanks for the update.

[2019-11-23 02:09] sffc commented on #418
AssemblyScript compile is still broken with this error

[2019-11-23 02:14] MaxGraey commented on #418
This should be fixed in this PR https://github.com/wasdk/WebAssemblyStudio/pull/436

[2019-11-25 22:20] munrocket opened #437 "Make AssemblyScript empty project empty again"
`Empty AS project` looks too complicated for an empty project. I suggest to rename it to `hello world in AS` and create a new one where all files from `assembly` folder moved to `src` and without js calling from wasm in order to create this empty example more similar to another.

By the way, right now it now working at all. Because this PR #436 not merged. Please give little love to AssemblyScript

[2019-11-25 22:29] munrocket commented on #418
Can we use this [demo](https://github.com/pedrouid/assemblyscript-demo) as an example?

[2019-11-29 20:28] akshaysinghal opened #445 "[Feature Request] Forking a workspace should open a new tab"
Currently, forking a workspace just replaces itself with the forked workspace. It may be safer and less restrictive to just spin up a new tab so that the previous workspace (and its URL) are still accessible.

[2019-12-03 16:01] AlexGnatko opened #446 "[error]: Task build failed: file is null"
I've cloned the contents of this repo to my PC, did `npm install` and everything as per the README file.

The interface can opened in the browser. But when I try to compile the sample "empty C project" or any other project, I get this message:

Is there something missing the README file? I'm doing it in a git bash on Windows 10.

[2019-12-04 00:40] AlexGnatko commented on #446
I think this is related to the fact that on Windows paths are separated by backslahes instead of slashes.

Here's what I see on Windows:
![Screenshot](https://user-images.githubusercontent.com/11628065/70101898-6764db80-1671-11ea-8a8a-e3f496ee2db6.png)

Here's what I see on the webassembly.studio website:
![Screenshot](https://user-images.githubusercontent.com/11628065/70101932-89f6f480-1671-11ea-

[2019-12-09 16:03] scitor commented on #411
@285858315 You could try something like [stylish](https://userstyles.org/) or [this little gem](https://chrome.google.com/webstore/detail/css-and-javascript-inject/ckddknfdmcemedlmmebildepcmneakaa).

In case you're interested specifically in getting rid of that dark-theme, just try this css:
[code]
Colors are funny since it's just a hack
![webassembly studio white](https://user-images.githubuserco

[2019-12-29 00:42] tpmccallum opened #448 "funcref vs anyfunc"
I compiled a simple Rust library
[code]
The `wat` text representation of this code is as follows
[code]
Please note the line `  (table (;0;) 1 1 funcref)`

# Issue
When I build and execute the above wat, I get the following error.
[code]
# Solution
I note that the WebAssembly `wat` specification has been updated [1], specifically to use `funcref` instead of `anyfunc` for table declaration. The Rus

[2019-12-30 15:37] guest271314 opened #449 "How to build espeak-ng with two options set as default for resulting executable?"
How to build [`espeak-ng`](https://github.com/espeak-ng/espeak-ng) at WebAssembly Studio with two options set as default for resulting executable?

Requirement: Build `espeak-ng` with [`-m`](https://github.com/espeak-ng/espeak-ng/blob/master/src/espeak-ng.c#L77) ("Interpret SSML markup, and ignore other \< \> tags") and [`--stdout`](https://github.com/espeak-ng/espeak-ng/blob/master/src/espeak-ng.

[2020-01-08 23:53] theblockstalk opened #450 "Getting errors on memory.grow and memory.size"
I create a new Wat project in

I edit a wat file with memory.grow and memory.size, such as the one below (just for illustration):

[code]
and on build this gets the following errors

[code]
These are the same errors reported in https://github.com/WebAssembly/wabt/issues/852

Perhaps you need to update to the latest version of wabt in Studio?

[2020-01-21 15:21] pfandzelter commented on #448
I actually ran into the same issue with `funcref` vs `anyfunc`. Link [1] you mention does include some more updates. For example, `get_local` has officially been replaced with `local.get`. WebAssemblyStudio uses the old version while my compiler (wasm2wat) uses the newer spec.

[2020-01-22 23:04] webnickell opened #451 "Don`t support i64."
Maybe it`s problem of JS. And don't have highlighting for i64 operations like i64.add.

[2020-03-11 21:20] K4rakara opened #453 "Wasm not defined / Fails to compile"
[wasm-project.zip](https://github.com/wasdk/WebAssemblyStudio/files/4320964/wasm-project.zip)
Not sure why in the slightest, but this project fails to run, with the error "wasm not defined".
On my desktop, I can't even compile, it throws the following error.
[code]

[2020-04-23 22:13] GirkovArpa commented on #428
Why can't we use `extern "C" { ... }` like @ [the original website](https://wasdk.github.io/WasmFiddle//)?

Seriously, the original website is 100x better.  It lets me write C++ and "just works".

[2020-04-23 22:14] GirkovArpa commented on #451
Wasm and JS both support 64bit integers.  But they don't support passing them across the Wasm-JS boundary.  It's bizarre.

[2020-06-06 15:50] BlueMagnificent opened #457 "Possible code duplication"
There seems to be a sort of code duplication here:

https://github.com/wasdk/WebAssemblyStudio/blob/49afdefc505f529ff20e9cb448751093eead1dde/src/utils/Template.ts#L72-L83

Given that the below code is to handle such case:
https://github.com/wasdk/WebAssemblyStudio/blob/49afdefc505f529ff20e9cb448751093eead1dde/src/models/types.ts#L234-L261

The default value for an unknown `file.type` in the above

[2020-06-17 15:06] richardanaya opened #459 "Font `san-serif` should be `sans-serif`"

[2020-06-28 12:25] fintechee opened #461 "How can I setup a specific build command?"
Emscripten is great! This studio is great as well!!
I love it!

I have a question. (I'm a newbie to this IDE)

How can I setup a specific build command?
For example:

emcc atr.cpp -o atr.js -s EXTRA_EXPORTED_RUNTIME_METHODS='["ccall", "cwrap", "getValue", "setValue", "addFunction", "UTF8ToString", "lengthBytesUTF8", "stringToUTF8"]' -s RESERVED_FUNCTION_POINTERS=100 -s MODULARIZE=1 -s 'EXPORT_NAME

[2020-07-02 08:11] fintechee commented on #461
I googled WebAssembly editor and found another good IDE: Wasmfiddle.
There is a build setting.
But Wasmfiddle is deprecated.
And the page said they created a new project: WebAssemblyStudio.
Then why doesn't the updated version retain the necessary feature?

[2020-07-18 00:03] onelsonic commented on #446
I confirm that I have the same issue on windows 10 - with a local install.
I cannot compile a project it says : **Illegal characters in file name**
<img width="760" alt="2020-07-18 02_03_10-WebAssembly Studio" src="https://user-images.githubusercontent.com/53947594/87839378-e32b3580-c89a-11ea-95d6-ea8100b46ef4.png">

[2020-07-22 14:57] onelsonic opened #463 "unable to compile WebAssemblyStudio project locally on win10 - Illegal characters in file name"
I cannot compile a project locally on win10 it says : **Illegal characters in file name**
<img width="760" alt="2020-07-18 02_03_10-WebAssembly Studio" src="https://user-images.githubusercontent.com/53947594/87839378-e32b3580-c89a-11ea-95d6-ea8100b46ef4.png">

[2020-07-22 15:42] MaxGraey commented on #463
I guess this field for `filename` (<name>.<ext>), not for full `path`

[2020-07-24 14:57] onelsonic commented on #463
either full path or just the file name without the path will not work on windows 10.

[2020-07-24 15:05] MaxGraey commented on #463
it should works) WebAssembly Studio uses [virtual file system](https://github.com/wasdk/WebAssemblyStudio/blob/master/src/models/File.ts#L30) which not relate on OS at all.

[2020-07-28 15:46] onelsonic commented on #463
well is is not working on win 10.

[2020-08-08 18:15] #449 closed

[2020-08-11 13:05] wangtz opened #465 "Fail to compile wasm locally"
This site is great starting point for learning wasm. However it doesn't seem to work locally with "Download" button.

I tried `gulp --require ts-node/register --gulpfile ./build.ts` and got the following errors:

[08:59:33] Requiring external module ts-node/register
ReferenceError: primordials is not defined
    at fs.js:35:5
    at req_ (/usr/local/google/home/wangtz/projects/emcc/v3/node_modules

[2020-09-22 10:58] nokotan commented on #463
In my win10, there seems to be no problem with file path.

![WasmStudioOnWin10](https://user-images.githubusercontent.com/20501723/93873210-4b1f5180-fd0c-11ea-86bd-6f94f8c2de92.png)

It is strange that main.c is shown as "src\\main.c" in the project view, and is not in "/src" folder. The problem is probably caused inconsistent path separater, between project view ("\") and WebAssembly Editor (expe

[2020-09-22 17:20] onelsonic commented on #463
the problem occurs when building on win10 locally.
the web version as per your screenshot https://webassembly.studio/ is fine

[2020-09-22 17:55] onelsonic commented on #463
not ideal but your workaround works :
creating the directory /src and moving and renaming the files seems to works.
You found what is causing this issue. @nokotan

[2020-09-23 03:13] nokotan commented on #463
Your mention helped me understand this problem better, thanks.

I think this is build-time failure when processing templates projects.
[This workaround](https://github.com/nokotan/WebAssemblyStudio/commit/af5bd24be9985de85d49a9da5172d5473ad2f313) does fix this problem?

[2020-09-24 05:51] nokotan commented on #465
Related issue: [Gulp 3 is broken on Node 12 #2324](https://github.com/gulpjs/gulp/issues/2324)

Upgrading Gulp to 4 and rewriting build.ts, or  Downgrading Node to v10 brings me successful build in my environment.

[2020-09-28 10:10] onelsonic commented on #463
Hi @nokotan yes your code is fixing the windows build when running locally.
👍

[2020-10-07 13:21] pravinparab opened #469 "How to download WebAssemblyStudio"

[2020-10-11 19:22] Zydnar opened #470 "Default initial template for TypeScript does not build"
# Steps to reporduce
1. Start new TypeScript (AssemblyScript) project
2. Click on Build & Run
3. Despair:
[code]
# Additional info
Seems this bug is not a racist and shows in all browsers.

[2020-10-11 19:42] MaxGraey commented on #470
Hi, that's known issue. You could use official playground on [assemblyscript.org](https://www.assemblyscript.org/) (on the bottom of page). Or wait when `binaryen.js` updated and WebAssembly Studio repaired (probably couple of weeks)

[2020-10-11 21:36] Zydnar commented on #470
@MaxGraey Thanks for the info and sorry for this duplicate. I couldn't find it but maybe I searched for wrong phrases.

[2020-10-16 08:58] MaxGraey commented on #470
@Zydnar it should works now

[2020-10-16 13:19] Zydnar commented on #470
@MaxGraey Yes, I confirm the issue is solved.

[2020-12-17 11:40] onelsonic commented on #463
thanks @nokotan 👍
I'm closing this.

[2020-12-17 11:40] #463 closed

[2020-12-25 12:27] void4 opened #473 "Sharing code"
I want to share my AssemblyScript code on webassembly.studio so others can fork it and create their own versions but the button is greyed out and I don't know why. Do I have to login somewhere?

[2020-12-25 12:50] MaxGraey commented on #473
Just use "Fork" button and copy browser's url.

Btw on assemblyscript.org on the bottom you could find playground which also has "stare link" button. That playground also support "loader".

[2020-12-25 13:18] #473 closed

[2020-12-31 19:26] yixe opened #474 "Swift Support"
Thanks for making this awesome project. Hopefully leads to more wasm adoption.

Would it be difficult to add Swift support using https://github.com/swiftwasm

[2021-02-19 12:14] remixer-dec commented on #470
As of today, the default empty assemblyscript project fails to build again. This time the error is:
[code]
and if this is a compatibility issue, there is no way to change as/asc version in the Web IDE, changing setup.js does not do anything, seems like @ latest versions are loaded once, right after a project is created.

[2021-02-19 19:27] MaxGraey commented on #470
He @remixer-dec. I created PR which fix this. For now you could fix it by yourself after picking AS project in gulpfile.js like here: https://github.com/wasdk/WebAssemblyStudio/pull/475/files

[2021-02-20 01:28] MaxGraey commented on #470
Closed via #475

[2021-02-20 01:28] #470 closed

[2021-03-11 15:59] Himujjal opened #479 "local.set and local.get don't work. What works is get_local and set_local."
Hi. As stated and as I have gone through multiple WA Text format docs, `get_local` and `set_local` both are depreciated. But the studio doesn't support it.

Is it possible to update the wat2wasm compile to the latest version?

[2021-04-12 23:52] mollthecoder commented on #351
But you/they would have to catch the error to log a custom one and if you/they did that it could just log a message like:

`[error]: Please build the project before running it.`

That would be much more user-friendly.

[2021-04-12 23:53] mollthecoder commented on #479
I'm pretty sure they use binaryen not wat2wasm

[2021-04-12 23:56] mollthecoder commented on #457
You should probably open a pull request.

[2021-04-13 00:00] mollthecoder commented on #431
Maybe you could even mix the two and store both localstorage and sessionstorage. On page load, you could maybe copy localstorage (if it exists) to sessionstorage to then read.

[2021-04-13 00:05] mollthecoder commented on #416
This is because it uses typescript syntax, not assemblyscript syntax. This also applies to i64. This is because assemblyscript files are typescript files and therefor uses .ts extension. A possible fix to this would to check the name to decide if you apply assemblyscript syntax. Not the extension, the name in it's entirety.

[2021-04-13 00:06] mollthecoder commented on #469
You don't download it, it is a web app at https://webassembly.studio

[2021-04-13 02:03] Himujjal commented on #479
Yeah. I got that. Its outdated BTW. I needed help to file a PR.

[2021-06-28 18:43] jjant commented on #479
@WebAssemblyStudio any updates about this?

[2021-07-04 11:24] Forpee opened #488 "Include Headers"
How do I include headers in the main.c
Because when I  try to include #include <iostream> it gives me an error when I try to run and build the program

[2021-08-10 07:18] solarcellsky opened #489 "Local run fail"
<img width="828" alt="Screen Shot 2021-08-10 at 15 15 07 PM" src="https://user-images.githubusercontent.com/546897/128824462-7a198ddf-498c-453e-9d7d-a8d887b67a84.png">
node: v14.16.0
npm: 7.7.6
OS: macOS Big Sur 11.5.1

[2021-08-10 07:20] #489 closed

[2021-08-10 07:33] solarcellsky commented on #489
resolved

[2021-08-25 04:13] Mighty-raju commented on #488
I will look in this issue

[2021-11-10 14:44] #392 closed

[2021-12-04 23:55] Timmmm opened #494 "AssemblyScript compiler crashes"
If you just create a new AssemblyScript project and hit Build it gives this output:

[code]

In the dev tools console you get

[code]

[2021-12-05 00:03] MaxGraey commented on #494
It will be update and fix soon. Meanwhile you can use the playground on the [official website](https://www.assemblyscript.org/)

[2022-02-01 12:13] hardliner66 opened #496 "Website not reachable"
The website webassembly.studio is currently not reachable.

[2022-02-02 02:16] dphilla opened #497 "service is down -- domain is expired"
When accessing `webassembly.studio` I'm redirected to `http://domain-registrar.storage.googleapis.com/expired.html?webassembly.studio`.

<img width="1104" alt="Screen Shot 2022-02-01 at 8 08 11 PM" src="https://user-images.githubusercontent.com/20820229/152082629-cc7c8dde-0090-4b1e-a9c1-b6c37f98937b.png">

[2022-02-24 21:15] SharanSMenon commented on #497
I also experience the same issue? Did this project die?

[2022-03-22 20:08] jeaiii commented on #497
**it's now being auctioned?!** http://webassembly.studio/

<img width="891" alt="image" src="https://user-images.githubusercontent.com/30875055/159565954-2e3ba9fb-03bf-468d-b2c9-c1188bb6f009.png">

[2022-03-23 05:48] Jasonlhy commented on #497
I find another website: https://webassembly-studio.kamenokosoft.com/
Not sure who is hosting it

[2022-04-01 02:26] mollthecoder commented on #497
That other website is a fork, it won't be updated to the latest version.

[2022-05-06 12:53] Zireael07 commented on #497
Original link now redirects to a dead site.

[2022-05-08 21:33] dev-cyprium commented on #497
The site is still down a few days later.
![image](https://user-images.githubusercontent.com/6002628/167316686-16c515f0-915c-4c5a-8661-95703ebbfc29.png)

Looks like the IP changes to 103.224.182.238 not to long ago

[2022-05-14 21:08] mollthecoder commented on #497
Such is the way of a dead website.

[2022-05-20 13:00] UntrustableRus commented on #497
I think this isn't being maintained anymore? No official comment by the collaborators and the project hasn't been updated in months.

[2022-06-01 22:20] remixer-dec commented on #497
Since it's hosted on Github Pages, a hacky way to still access the website is to map github's ip to its name in hosts file.
`185.199.110.153 webassembly.studio`

[2022-06-11 14:46] torcoste commented on #497
That's too bad.

I have deployed the app on surge.
Feel free to use my link: https://wasm-studio.surge.sh/

[2022-06-12 06:13] mollthecoder commented on #497
Someone needs to maintain it, not just host it.